<template>
   <div class="courses-detail-wrap" >
      <v-container grid-list-xl fluid>
			<course-detail-banner :course_info="info" ></course-detail-banner>
			<div class="course-detail">
            <v-layout row wrap justify-center align-center>
               <v-flex xs12 sm12 md12 lg12 xl12>
                  <v-layout row wrap>
                     <v-flex xs12 sm12 md12 lg12 xl12>
                        <v-layout row wrap>
                           <course-detail-learn :course_info="info"></course-detail-learn>
                           <course-detail-desciption :course_info="info"></course-detail-desciption>  
                        </v-layout>
                     </v-flex>
                  </v-layout>
					</v-flex>
            </v-layout>
			</div>
      </v-container>
   </div>
</template>

<script>
import CourseBanner from "./CourseWidgets/CourseBanner";
import CourseDetailLearn from "./CourseWidgets/CourseDetailLearn";
import CourseDetailBanner from "./CourseWidgets/CourseDetailBanner";
import CourseDetailDesciption from "./CourseWidgets/CourseDetailDescription";
import API from 'Api'

export default {
	data(){
		return{
			info: {
            img_link: '0'
         },
			id: this.$route.params.id,
		}
   },
   beforeMount(){
      this.get_course_info();
   },
   methods:{
      get_course_info(){
         const data = new FormData();
         data.append("id", this.id);
         data.append("token", this.$store.getters.getUser);
         API
         .post("user/get_course_info", data)
         .then(response => {
            if (response.data.error == 0){
               this.info = response.data.info[0];
               console.log(this.info);
            }else if (response.data.error == 4){
               this.$store.dispatch("logout");
            }
         })
      }
   },
   components:{
      CourseBanner,
		CourseDetailBanner,
		CourseDetailLearn,
		CourseDetailDesciption,
	}
}
</script>
