<template>
   <div class="courses-wrap">

      <v-container fluid grid-list-xl>

         <v-layout row wrap align-center justify-center detail-course-list pt-0>
             <v-flex sm12 xs12 md12 lg12 xl12>
               <v-layout row wrap align-start justify-center fill-height>
                  <v-flex sm12 xs12 md10 lg10 xl10>
                     <div class="popularity tab-wrap">
                        <v-tabs
                           v-if="courses"
                           color=""
                           slider-color="primary"
                        >
                           <v-tab ripple>
                              Основные
                           </v-tab>
                           <v-tab ripple>
                              Дополнительные
                           </v-tab>

                           <v-tab-item>
                              <course-card
                                 :data="courses.filter(cur => cur.for_all == 0)"
                                 :cols="6" :colxl="3" :collg="3" :colmd="4" :colsm="6" :colxs="12"
                                 :width="305"
                              ></course-card>
                           </v-tab-item>
                           <v-tab-item>
                              <course-card
                                 :data="courses.filter(cur => cur.for_all == 1)"
                                 :cols="6" :colxl="3" :collg="3" :colmd="4" :colsm="6" :colxs="12"
                                 :width="305"
                              ></course-card>
                           </v-tab-item>

                        </v-tabs>
                     </div>
                  </v-flex>

               </v-layout>
            </v-flex>
         </v-layout>
      </v-container>
   </div>



</template>

<script>

import CourseCard from "./CourseWidgets/CourseCard";
import API from "Api";

export default {
   data() {
		return{
         token: this.$store.getters.getUser,
         courses: [],
		}
	},
	components: {


      CourseCard
   },
   mounted(){
      this.get_courses();
   },
   methods: {
      get_courses(){
         const data = new FormData();
         data.append('token', this.token);
         API
         .post("user/get_courses", data)
         .then(response => {
            if (response.data.error == 0){
					this.courses = response.data.courses;
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");
			    }
         })
         .catch(error => {
            console.log(error);
         })
      }
   },
   computed: {
		isTop() {
			return this.CourseData.courses.filter(item=> {
			   return item.popular=='main'
			})
		},
		isNew() {
			return this.CourseData.courses.filter(item=> {
			   return item.popular=='add'
			})
		}
   }
}
</script>