<template>
    <v-container grid-list-xl>
        <v-layout row wrap justify-center>
            <CourseDetailBanner1 :info="info" :img="info.img_link"></CourseDetailBanner1>
            <CDDescription :info="info"></CDDescription>
        </v-layout>
    </v-container>
</template>

<script>
    import API from "Api"
    import CourseDetailBanner1 from "./CourseWidgets/CourseDetailBanner1";
    import CDDescription from "./CourseWidgets/CDDescription";
    export default {
        name: "CourseDetail1",
        components: {
            CourseDetailBanner1,
            CDDescription,
        },
        data(){
            return{
                info: {},
                id: this.$route.params.id,
            }
        },
        beforeMount(){
            this.get_course_info();
        },
        methods:{
            get_course_info(){
                const data = new FormData();
                data.append("id", this.id);
                data.append("token", this.$store.getters.getUser);
                API
                    .post("user/get_course_info", data)
                    .then(response => {
                        if (response.data.error == 0){
                            this.info = response.data.info[0];
                        }else if (response.data.error == 4){
                            this.$store.dispatch("logout");
                        }
                    })
            }
        },
    }
</script>

<style scoped>

</style>