/*======= All App Custom Files Include Here ======*/

@import "custom/main";
@import "custom/common";
@import "custom/horizontal-menu";
@import "custom/sidebar";
@import "custom/header";
@import "custom/search-bar";
@import "custom/dashboard";
@import "custom/courses";
@import "custom/table";
@import "custom/label";
@import "custom/button";
@import "custom/border";
@import "custom/drag-drop";
@import "custom/session";
@import "custom/calender";
@import "custom/pricing";
@import "custom/gallery";
@import "custom/user";
@import "custom/inbox";
@import "custom/chat";
@import "custom/icons";
@import "custom/customizer";
@import "custom/effect";
@import "custom/module";
@import "custom/pages";
@import "custom/widgets";
@import "custom/ecommerce";
@import "custom/timeline";
/*=== Custome Dark Layout ===*/

@import "custom/dark";
/*====== Box Layout =========*/

@import "custom/box-layout";
/*======= App Box Layout ========*/

@import "custom/app-box-layout";
/*======= RTL Layout ========*/

@import "custom/rtl";
$text-color: #4a596a;
$background-color: #f3f7fa;
.vgt-wrap.styled {
	.global-search {
		padding: 0;
		//padding-left: .75rem;

		.global-search-icon {
			display: none;
		}

		.global-search-input {
			outline: none;
			padding: 0;
			border: none;
			box-shadow: none;
			color: $text-color; 
			background: transparent;
		}
	}

	.table {
        width:100%;
		td {
			border-top: 1px solid transparentize($background-color, .7);
		}
		tr:first-child {
			td {
				border: none;
			}
		}
		th.line-numbers {
			text-align: center;
			opacity: 0.5;
			background: transparent;
		}
		thead th {
			background: transparentize($background-color, .7) !important;
			border-bottom-color: transparentize($background-color, .5);
			border-top: 0;
			opacity: 1 !important;
			color: transparentize($text-color, .6);

			&.sorting-asc, &.sorting-desc {
				color: $text-color;
			}
		}

		.sorting {
			cursor: pointer;

			input {
				outline: none;
				padding: 0;
				border: none;
				box-shadow: none;
				background: transparent;
				border-bottom: 1px solid $background-color;
				border-radius: 0;
			}
		}

		.text-disabled {
			color: transparentize($text-color, 0.6);
		}
	}

	.table-footer {
		border: 0;
		background-color: transparentize($background-color, .5);
		color: transparentize($text-color, 0.6);

		.browser-default {
			color: transparentize($text-color, 0.3);
		}

		.info {
			color: transparentize($text-color, 0.3);
		}
	}

	.page-btn {
		outline: none;
		color: transparentize($text-color, 0.3);

		.chevron.left::after {
			border-right-color: transparentize($text-color, 0.3);
		}
		.chevron.right::after {
			border-left-color: transparentize($text-color, 0.3);
		}

		&.disabled {
			.chevron.left::after {
				border-right-color: transparentize($text-color, 0.6);
			}
			.chevron.right::after {
				border-left-color: transparentize($text-color, 0.6);
			}
		}
	}
	.datatable-length select {
		outline: none;
	}
}
.styled {
	width: 100%;
	border: none;
	border-collapse: collapse;
	text-align: left;
	
	thead {
		background: transparentize($background-color, .7);
		border-bottom: 2px solid transparentize($background-color, .5);
		
		tr {
			th {
				padding: 12px 20px;
				color: transparentize($text-color, .6);
			}
		}
	}

	tbody tr td {
		padding: 12px 20px;
	}

	&.striped {
		tbody tr:nth-child(even) {
			background: transparentize($background-color, .6);
		}		
	}

	&.fixed-header {
		width: 100%;
		height: 100%;
		table-layout: fixed;

		tr {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			--flex-grid: 12;

			th, td {
				word-wrap: break-word;
				overflow: hidden;
				-webkit-box-flex: 1;
				-ms-flex: 1 0;
				flex: 1 0;
			}
		}
	
		tbody {
			display: block;
			overflow: auto;
			width: calc(100% + 6px);
			height: 100%;
		}
	}
}
.vgt-checkbox-col
{
	text-align: center;
}