<template>
    <div class="ml-2 mb-2" >
        <div  class="tabs" >
            <div  class="mytab" @click="tab1" :class="{'tab_active':tab==1}" >
                Доступные проекты
            </div>
            <div  class="mytab" @click="tab2" :class="{'tab_active':tab==2}" >
                Ваши заявки
            </div>
            <div  class="mytab" @click="tab3" :class="{'tab_active':tab==3}" >
                Текущие проекты
            </div>
            <div  class="mytab" @click="tab4" :class="{'tab_active':tab==4}" >
                Завершенные проекты
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                tab: 1,
            }
        },
        methods:{
            tab1(){
                this.tab = 1;
                this.$root.$emit('tab1');
            },
            tab2(){
                this.tab = 2;
                this.$root.$emit('tab2');
            },
            tab3(){
                this.tab = 3;
                this.$root.$emit('tab3');
            },
            tab4(){
                this.tab = 4;
                this.$root.$emit('tab4');
            }
        }
    }
</script>

<style scoped>
    .tabs
    {
        display:table;
        widows: 100%;
    }
    .mytab
    {
        float: left;

        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        color: black;
        padding: 5px 10px;
        -webkit-transition: background 0.3s ease;;
        -moz-transition: background 0.3s ease;;
        -o-transition: background 0.3s ease;;
        transition: background 0.3s ease;
        cursor: pointer;
    }
    .mytab:hover
    {
        background-color: #eee;
    }
    .tab_active
    {
        border-bottom: 3px solid #b3d4fc
    }
</style>