<template>
    <v-container grid-list-xl fluid pt-0>
        <v-layout row wrap>
            <v-flex xs12 sm12>
                <span class="d-block">Напишите о себе</span>
                <wysiwyg v-model="AskWindow" />
            </v-flex>

            <v-btn color="primary mt-3" @click='send'>Отправить</v-btn>
            <v-btn color="warning mt-3" @click='cancel'>Отменить</v-btn>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        props: ['model'],
        data(){
            return{

            }
        },
        computed:{
            AskWindow(){
                return this.model;
            }
        },
        methods:{
            send(){
                this.$root.$emit('send_ask', this.AskWindow)
            },
            cancel(){
                this.$root.$emit('cancel')
            }
        }
    }
</script>

<style scoped>

</style>