<template>
    <v-container>
        <v-layout grid-list-xl justify-center>
            <v-flex sm12 md12 lg11 xl11 v-if="rows.length > 0">
                <v-card style="display: flex; flex-direction: column; align-items: center" class="pt-4 pb-4 mb-4" elevation="8">
                    <div class="d-title">{{ rows[0].name }}</div>
                    <div class="d-container">
                        <div class="d-item-title">Сроки реализации проекта: <span>{{ getDateEnd(rows[0].date_begin, rows[0].date_end) }}</span></div>
                        <div class="d-item-title">Ментор: <span>{{ getMentors(rows[0].mentors) }}</span></div>
                        <div class="d-item-title">Специализация: <span>{{ rows[0].spec_name }}</span></div>
                        <div class="d-item-container">
                            <div class="d-item-title">Описание:</div>
                            <div class="d-item-text">{{ rows[0].description }}</div>
                        </div>
                        <div class="d-item-container">
                            <div class="d-item-title">Требования:</div>
                            <div class="d-item-text">{{ rows[0].need_description }}</div>
                        </div>
                    </div>
                    <div class="btn1" @click="to_projects">
                        <font-awesome-icon icon="chevron-left"></font-awesome-icon>
                    </div>
                </v-card>

                <v-card style="display: flex; flex-direction: column; align-items: center" class="pt-4 pb-4" elevation="8">
                    <div class="d-title1">Подать заявку</div>
                    <div class="d-container">
                        <div><span>Почему Вы хотели бы участвовать в данном проекте?</span></div>
                        <div style="margin-bottom: 15px"><span>Какими навыками Вы обладаете?</span></div>
                        <wysiwyg v-model="ask" />
                        <div class="centered"><v-btn outline color="#5d92f4" background-color="" class="mt-4 ml-0" @click="sendAsk(rows[0].id_spec)">Отправить</v-btn></div>
                    </div>
                </v-card>
            </v-flex>

            <v-flex sm12 md11 lg11 xl11 v-if="your_projects.length > 0">
                <v-card style="display: flex; flex-direction: column; align-items: center" class="pt-4 pb-4 mb-4" elevation="8">
                    <div class="d-title">{{ your_projects[0].name }}</div>
                    <div class="d-container">
                        <div class="d-item-title">Срок реализации проекта: <span>{{ getDateEnd(your_projects[0].date_begin, your_projects[0].date_end) }}</span></div>
                        <div class="d-item-title">Ментор: <span>{{ your_projects[0].mentor[0].mentor_name }}</span></div>
                        <div class="d-item-title">Специализация: <span>{{ your_projects[0].spec_name }}</span></div>
                        <div class="d-item-container">
                            <div class="d-item-title">Описание:</div>
                            <div class="d-item-text">{{ your_projects[0].description }}</div>
                        </div>
                        <div class="d-item-container">
                            <div class="d-item-title">Ваша роль в проекте:</div>
                            <div class="d-item-text">{{ your_projects[0].role }}</div>
                        </div>
                    </div>
                    <div class="btn1" @click="to_projects">
                        <font-awesome-icon icon="chevron-left"></font-awesome-icon>
                    </div>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Oswald&display=swap');
    .d-title{
        font-size: 23px !important;
        color: #00009b;
        width: 80%;
        margin-bottom: 35px;
    }
    .d-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .d-item-title{
        font-size: 17px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
    }
    .d-item-container{
        margin-top: 25px;
    }
    .d-item-text{
        font-size: 17px;
        font-weight: 300;
        margin-top: 5px;
        color: rgba(0, 0, 0, 1);
    }
    .d-title1{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 1);
    }
    span{
        font-weight: 400;
    }
    .btn1{
        position: absolute;
        top: 40px;
        left: 25px;
        font-size: 30px;
        cursor: pointer;
    }
    @media (max-width: 600px) {
        .d-title{
            margin-left: 70px;
        }
        .btn1{
            top: 20px;
        }
    }
    @media (max-width: 440px) {
        .d-container{
            width: 90%;
        }
        .d-title{
            margin: 0 0 20px 0;
            text-align: center;
            width: 90%;
        }
        .d-item-container{
            margin-top: 10px;
        }
        .d-item-text{
            margin-top: 0;
        }
        .d-item-title{
            font-size: 16px;
        }
        .centered{
            display: flex;
            justify-content: center;
        }
    }
</style>

<script>
    import api from 'Api'
    export default {
        name: "ProjectDetail",
        data() {
            return {
                rows: [],
                your_projects: [],
                end_projects: [],
                ask: ''
            }
        },
        computed: {
            getRows(){
                return this.rows;
            }
        },
        methods: {
            to_projects(){
                this.$router.push('/projects');
            },
            get_projects(curr_id) {
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                api
                    .post('/user/get_availibale_projecs', data)
                    .then(response => {
                        if (response.data.error == 0) {
                            this.rows = response.data.projects.filter(item => item.id == curr_id);
                        } else if (response.data.error == 4) {
                            this.$store.dispatch("logout");
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            get_all_projects(curr_id) {
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                api
                    .post("/user/get_all_projects", data)
                    .then(response => {
                        if (response.data.error == 0) {
                            this.your_projects = response.data.projects.current.filter(item => item.id == curr_id);
                            this.end_projects = response.data.projects.end.filter(item => item.id == curr_id);
                        } else if (response.data.error == 4) {
                            this.$store.dispatch("logout");
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            sendAsk(id){
                const data = new FormData();
                data.append("token", this.$store.getters.getUser);
                data.append("id_spec", id);
                data.append('ask', this.ask);
                console.log(this.ask);
                api
                    .post('/user/send_ask_project', data)
                    .then(response => {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно отправлено!'
                        });
                        this.$router.push('/projects');
                    })
                    .catch(error =>{
                        console.log(error);
                    });
            },
            getDateEnd(date1, date2){
                let new_date1 = '';
                let new_date2 = '';
                if(date1 != '0000-00-00 00:00:00' && date2 != '0000-00-00 00:00:00'){
                    let curr_date = new Date(date1);
                    let curr_date2 = new Date(date2);
                    new_date1 = curr_date.getDate().toString() + '/' + (curr_date.getMonth() + 1).toString() + '/' + curr_date.getFullYear().toString();
                    new_date2 = curr_date2.getDate().toString() + '/' + (curr_date.getMonth() + 1).toString() + '/' + curr_date.getFullYear().toString();
                }
                else
                    return 'Не указан';
                return new_date1 + ' - ' + new_date2;
            },
            getMentors(mentors){
                if (mentors.length == 0){
                    return "Нет менторов";
                }else if (mentors.length == 1){
                    return `${mentors[0].name} ${mentors[0].surname}`
                }
                let result = '';
                mentors.forEach(mentor => {
                    result += `${mentor.name} ${mentor.surname}, `
                });
                return result;
            },
        },
        mounted() {
            this.get_all_projects(this.$route.params.id);
            this.get_projects(this.$route.params.id);
        }
    }
</script>
