<template>
    <v-container class="pb-1">
        <v-layout justify-center grig-list-xs>
            <v-flex sm12 md12 lg11 xl11>
                <v-card style="display: flex; flex-direction: column; align-items: center" :class="[projects.length == 0 ? 'pb-4' : 'pb-0']" elevation="8">

                    <div v-if="name == 'Доступные проекты'" class="hat">
                        <div class="hat-item"><v-text-field filled label="Поиск" append-icon="search" v-model="search" class="mt-2" style="width: 200px"></v-text-field></div>
                        <div class="hat-item">
                            <v-select
                                v-model="spec"
                                :items="dropdown_font"
                                label="Специализация"
                                class="mt-2"
                                style="width: 200px"
                            ></v-select>
                        </div>
                    </div>

                    <div class="p-c-title"> {{ name }}</div>
                    <ProjectItem v-for="(proj, key) in paginatedData(projects)" :key="key" :proj="proj"></ProjectItem>
                    <div v-if="projects.length == 0" class="p-c-none">Нет проектов</div>
                    <div v-if="projects.length > 0" class="p-c-line"></div>
                    <div v-if="projects.length > 0" class="button-group">
                        <button :class="[pageNumber > 0 ? 'on' : 'off']" @click="prev_page"><font-awesome-icon icon="chevron-left" /></button>
                        <div style="font-size: 12px; color: #777777">{{ pageNumber + 1 }} из {{ page_count }} страниц</div>
                        <button :class="[pageNumber < page_count - 1 ? 'on' : 'off']" @click="next_page"><font-awesome-icon icon="chevron-right" /></button>
                    </div>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import ProjectItem from "./ProjectItem";
    export default {
        name: "ProjectsCard",
        components: {
            ProjectItem
        },
        props: ['projects', 'name'],
        data(){
            return {
                pageNumber: 0,
                dropdown_font: ['WEB разработка', 'Маркетинг', 'Дизайн', 'Android', 'Все'],
                spec: '',
                search: ''
            }
        },
        watch: {
            spec: function(val){
                this.$emit('print_val', val);
            },
            search: function (val) {
                this.$emit('print_search', val);
            }
        },
        computed: {
            page_count(){
                return Math.ceil(this.projects.length / 2);
            }
        },
        methods: {
            next_page(){
                this.pageNumber < this.page_count - 1 ? this.pageNumber++ : this.pageNumber;
            },
            prev_page(){
                this.pageNumber > 0 ? this.pageNumber-- : this.pageNumber;
            },
            paginatedData(proj){
                const start = this.pageNumber * 2,
                    end = start + 2;
                if (proj.length >= end)
                    return proj.slice(start, end);
                else if (proj.length > start)
                    return proj.slice(start);
                else
                    return [];
            }
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald&display=swap');
    .hat{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 60px;
        border-bottom: 1px solid #cccccc;
    }
    .hat-item{
        width: 200px;
    }
    .p-c-title{
        font-size: 21px;
        font-weight: 400;
        margin-top: 20px;
    }
    .p-c-none{
        font-size: 18px;
        padding-top: 20px;
    }
    .on{
        font-size: 20px;
        color: black;
    }
    .off{
        font-size: 20px;
        color: #dddddd;
        cursor: default;
    }
    .button-group{
        width: 300px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    button:active, button:focus {
        outline: none !important;
    }
    .p-c-line{
        width: 100%;
        height: 0;
        border-bottom: 1px solid #cccccc;
        margin-top: 30px;
    }
    @media (max-width: 600px) {
        .hat{
            padding: 0 5%;
        }
    }
    @media (max-width: 510px) {
        .hat{
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
    }
    @media (max-width: 440px) {
        .p-c-title{
            font-size: 19px;
        }
        .button-group{
            width: 200px;
        }
    }
</style>