<template>
    <div class="p-item">
        <router-link :to="'/project/detail/'+proj.id" style="font-size: 20px !important; color: #00009b"><div class="p-i-title">{{ proj.name }}</div></router-link>

        <div class="i-title none1">СРОК РЕАЛИЗАЦИИ ПРОЕКТА</div>
        <div class="i-text none1">{{ getDateEnd(proj.date_begin, proj.date_end) }}</div>

        <div class="p-i-container">
            <div class="i-container">
                <div class="i-title">СПЕЦИАЛИЗАЦИЯ</div>
                <div class="i-text">{{ proj.spec_name }}</div>
            </div>
            <div class="i-container">
                <div class="i-title">МЕНТОР</div>
                <div v-if="proj.mentors" class="i-text">{{ getMentors(proj.mentors) }}</div>
                <div v-else class="i-text">{{ proj.mentor[0].mentor_name }}</div>
            </div>
            <div class="i-container none">
                <div class="i-title">СРОК РЕАЛИЗАЦИИ</div>
                <div class="i-text">{{ getDateEnd(proj.date_begin, proj.date_end) }}</div>
            </div>
        </div>

    </div>
</template>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald&display=swap');
    .none1{
        display: none;
    }
    .p-item{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .p-i-title{
        /*font-size: 22px;*/
        /*width: 60%;*/
        font-weight: 300;
        padding: 25px 0 10px 0;
    }
    .p-i-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .i-container{
        height: 60px;
        max-width: 190px;
        border-left: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3px 0 0 10px;
    }
    .i-title{
        font-weight: 400;
        font-size: 13px;
        color: rgba(0, 0, 0, 1);
    }
    .i-text{
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 1);
    }

    @media (max-width: 959px) {
        .p-item{
            width: 80%;
        }
    }
    @media (max-width: 650px) {
        .p-item{
            width: 65%;
        }
        .p-i-container{
            margin-top: 20px;
        }
        .none1{
            display: flex;
        }
        .none{
            display: none;
            border: 0;
        }
    }
    @media (max-width: 540px) {
        .p-item{
            width: 80%;
        }
    }
    @media (max-width: 440px) {
        .p-item{
            width: 90%;
        }
        .p-i-container{
            margin-top: 10px;
        }
        .i-container{
            width: 140px;
        }
        .i-title{
            font-size: 11px;
            margin-bottom: 6px;
        }
        .i-text{
            font-size: 14px;
            line-height: 1.3;
        }
        .p-i-title{
            font-size: 18px;
            padding-top: 10px;
        }
    }
</style>

<script>
    export default {
        name: "ProjectItem",
        props: ['proj'],
        mounted(){
        },
        methods: {
            getMentors(mentors){
                if (mentors.length == 0){
                    return "Нет менторов";
                }else if (mentors.length == 1){
                    return `${mentors[0].name} ${mentors[0].surname}`
                }
                let result = '';
                mentors.forEach(mentor => {
                    result += `${mentor.name} ${mentor.surname}, `
                });
                return result;
            },
            get_date(date){
                let p = new Date(date);
                let d = '';
                if (p.getDate() < 10)
                    d = d + '0' + p.getDate().toString();
                else
                    d = d + p.getDate().toString();
                if (p.getMonth() + 1 < 10)
                    d = d + '/' + '0' + (p.getMonth() + 1).toString() + '/' + p.getFullYear().toString();
                else
                    d = d + '/' + (p.getMonth() + 1).toString() + '/' + p.getFullYear().toString();
                return d;
            },
            getDateEnd(date1, date2){
                let new_date1 = '';
                let new_date2 = '';
                if(date1 != '0000-00-00 00:00:00' && date2 != '0000-00-00 00:00:00'){
                    new_date1 = this.get_date(date1);
                    new_date2 = this.get_date(date2);
                }
                else
                    return 'Не указан';
                return new_date1 + ' - ' + new_date2;
            }
        }
    }
</script>
