<template>
    <v-layout row wrap align-center class="h-100 " >
        <v-flex xs12 sm4 md2 pa-2>
            <label style="cursor: pointer;" for="upload-photo">
                <div v-if="!user.img" alt="" class="profile_img profile_img_reg"></div>
                <div v-else :src="img_link" alt="" class="profile_img profile_img_reg" v-bind:style="{backgroundImage: `url('${img_link}')`, border: 'none'}"></div>
            </label>
            <input type="file" name="photo" ref="file" id="upload-photo" @change="handleFileUpload()">

        </v-flex>
        <v-flex xs12 sm8 md10 pl-2 pr-2 >
            <v-text-field label="Фамилия" required name="surname" v-model="user.surname"></v-text-field>
            <v-text-field label="Имя" required name="name" v-model="user.name"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-text-field label="ВУЗ" required name="university" v-model="user.university"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-text-field label="Факультет" required name="faculcy" v-model="user.faculcy"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-text-field
                    label="Курс"
                    required
                    v-model="user.year_study"
                    name="degree"
            ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md6 pa-2>
            <v-text-field label="Телефон" required name="phone" :rules="phoneRules" v-model="user.phone"></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md6 pa-2>
            <v-text-field label="VK" required name="vk_link" v-model="user.vk_link"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 md2 class="text-right">
            <v-btn large color="primary" @click="submit">Сохранить</v-btn>
        </v-flex>
    </v-layout>
</template>



<script>
    import API from 'Api';
    import Vue from 'vue'
    import Nprogress from 'nprogress';



    export default {
        props: ['user', 'img_link'],
        components: {
        },
        data() {
            return {
                token: localStorage.getItem('user'),
                phoneRules: [v => /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/.test(v) || 'Неправильный телефон'],
            }
        },
        methods:{
            handleFileUpload(){
                const view = this;
                const data_img = new FormData();
                if (this.$refs.file.files[0]){
                    this.user.img = this.$refs.file.files[0];
                    Nprogress.start();
                    data_img.append('img', this.user.img);
                    API
                        .post('user/send_img', data_img, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            }
                        })
                        .then(function(response){
                            if (response.data.error == 0){
                                $('.profile_img').attr('src', 'https://api.styleru.org'+response.data.link);
                                view.user.img = `${response.data.link}`
                                Nprogress.done();
                            }else{
                                Vue.notify({
                                    group:'loggedIn',
                                    type: 'error',
                                    text: 'Загрузите другую картинку'
                                });
                                Nprogress.done();
                            }

                        })
                        .catch(function(response){
                            console.log(response);
                        });
                }
            },
            submit(){
                this.$root.$emit('submit_data', this.user);
            },
            upload(){
                this.$root.$emit('upload');
            }
        }
    }

</script>

<style lang="scss" scoped>
    .profile_img
    {
        width:100px;
        border: 3px black solid;
        transition: 0.15s;
        cursor: pointer;
    }
    .background-white
    {
        background-color: white;
    }
    input[type="file"]{
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    .profile_img_reg{
        width: 100px;
        background-size: cover;
        background-position: center;
        height: 100px;
        background-image: url(../../../../public/static/my_img/add_profile.png);
    }
</style>