<template>
   <v-list two-line>
		<v-list-tile>
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text">Программист</h5>
				<span>День вышки 2019</span>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<v-list-tile-action>
			<b>Done</b>
			</v-list-tile-action>
		</v-list-tile>
		<v-list-tile>
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text">Дизайнер</h5>
				<span style="white-space: normal;">Система контроля качества образования</span>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<v-list-tile-action>
			<b>Progress</b>
			</v-list-tile-action>
		</v-list-tile>
		<v-list-tile>
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text">Service Designer</h5>
				<span>AirHelper - London, United Kingdom</span>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<v-list-tile-action>
			<span class="small">2015 - 2016</span>
			</v-list-tile-action>
		</v-list-tile>
	</v-list>
</template>
