<template>
   <v-list two-line v-if="this.specs.length > 0">
		<v-list-tile  v-for="(spec) in spec_list" :key="spec.id">
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text">{{spec.name}}</h5>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<template v-if="spec.user_sign == 1 && new Date() < new Date(reg_end)">
				<v-btn outline color="red" @click="dialog_sign_out=true; curr_spec_id=spec.id_spec" background-color="" class="ml-0" >Отписатсья</v-btn>
			</template>
			<template v-if="spec.user_sign == 0 && new Date() < new Date(reg_end)">
				<v-btn outline color="#5d92f4" @click="dialog_sign=true; curr_spec_id=spec.id_spec; loadLessons(); choosen_potok_spec_id = 0;" background-color="" class="ml-0" >Записаться</v-btn>
			</template>
		</v-list-tile>
		<v-dialog
		v-model="dialog_sign"
		max-width="500px"
		>
			<v-card>
				<v-card-title>
				Выберите здание, куда будете ходить
				</v-card-title>
				<v-card-text>
					<v-select
						:items="potok_specs(curr_spec_id)"
						label="Здания"
						item-value="id"
						v-model="choosen_potok_spec_id"
						item-text="place"
					></v-select>
					<table v-if="choosen_potok_spec_id">
						<thead>
							<tr>
							<th class="text-left">Здание</th>
							<th class="text-left">Дата занятия</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in lessons_comp" :key="item.id">
							<td class="pr-3">{{ item.place }}</td>
							<td>{{ item.start_date }}</td>
							</tr>
						</tbody>
					</table>
				</v-card-text>
				<v-card-actions>
					<v-btn
						color="primary"
						text
						@click="dialog_sign = false; sign_in_potok_spec()"
					>
						Записаться
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-dialog
		v-model="dialog_sign_out"
		max-width="400px"
		>
			<v-card align-center>
				<v-card-title class="align-item-start">
				Вы хотите отписаться от этого курса?
				</v-card-title>
				<v-card-actions>
					<v-btn
						color="primary"
						text
						@click="dialog_sign_out = false; sign_out_potok_spec()"
					>
						Да
					</v-btn>
					<v-btn
						color="error"
						text
						@click="dialog_sign_out = false;"
					>
						Нет
					</v-btn>
				</v-card-actions>
				
			</v-card>
		</v-dialog>
		<!-- <v-list-tile>
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text">App Designer</h5>
				<span>AirHelper - London, United Kingdom</span>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<v-list-tile-action>
			<span class="small">2017 - 2018</span>
			</v-list-tile-action>
		</v-list-tile>
		<v-list-tile>
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text">Service Designer</h5>
				<span>AirHelper - London, United Kingdom</span>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<v-list-tile-action>
			<span class="small">2015 - 2016</span>
			</v-list-tile-action>
		</v-list-tile> -->
	</v-list>
</template>

<style>
</style>

<script>

import API from 'Api';


export default {

  data() {
		return {
			hw_choose: 0,
			curr_spec_id: 0,
			specs: [],
			user_specs: [],
			reg_end: undefined,
			specs_names :[],
			choosen_potok_spec_id: 0,
			specs_names_2:[],
			dialog_sign: false,
			dialog_sign_out: false,
			token: this.$store.getters.getUser,
			lessons: []
			
		}
	},
	computed: {
		spec_list(){
			return this.specs.filter(spec => {
				if (!this.specs_names.includes(spec.name) ){
					this.specs_names.push(spec.name);
					return true
				}else{
					return false;
				}
			});
		},
		lessons_comp(){
			return this.lessons.filter(lesson => lesson.id_potok_spec === this.choosen_potok_spec_id);
		}
	},
	methods: {
		potok_specs(id_spec){
			let arr = this.specs.filter(spec => spec.id_spec === id_spec);
			return arr;
		},
		loadLessons() {
		   	const data = new FormData();
         	const view = this;
			data.append('id_spec', this.curr_spec_id)
			API
			.post('user/get_spec_lessons', data)
			.then(function(response){
            if (response.data.error == 0){
               	view.lessons = response.data.info;
            } else if (response.data.error == 4){
				view.$store.dispatch("logout");

			}
         });
	   	},
		loadSpecs() {
			const view = this;
			API
			.post('user/get_potok_specs')
			.then(function(response){
				const data = new FormData();
				data.append('token', view.$store.getters.getUser);
				API
				.post('user/get_sign_specs', data)
				.then(function(response_user){
					if (response_user.data.error == 0){
						response.data.potoks.forEach(spec => {
							response_user.data.info.forEach(user_spec => {
								if (spec.id_spec == user_spec.id){
									spec['user_sign'] = 1;
								}
							});
							if (!spec['user_sign']){
								spec['user_sign'] = 0;
							}
						});
						view.specs = response.data.potoks;
						view.user_specs = response_user.data.info;
					}else if (response_user.data.error == 4){
						view.$store.dispatch("logout");

					}
					
				})
				.catch(function(error){
					console.log(error)
				});
			})
			.catch(function(error){
				console.log(error)
			});
			
		},
		check_sign_in_course(id_course) {
			const specs = this.user_specs;
			specs.forEach(spec => {
				if (spec.id == id_course){

					return true;
				}
			});
			return false;
		},
		sign_in_potok_spec(){
			const data = new FormData();
			const view = this;
			data.append('token', view.$store.getters.getUser);
			data.append('id_potok_spec', view.choosen_potok_spec_id);
			API
			.post('user/sign_in_potok_spec', data)
			.then(function(response){
				if (response.data.error == 0){
					let spec_name;
					view.$root.$emit('sign_in_potok');
					view.specs.map(spec => {
						if (spec.id === view.choosen_potok_spec_id){
							spec_name = spec.id_spec;
						}
					});
					view.specs.map(spec => {
						if (spec.id_spec === spec_name){
							spec.user_sign = 1;
						}
					});

				}else if (response.data.error == 4){
					view.$store.dispatch("logout");

				}
			})
			.catch(function(response){

			});
		},
		loadPotok(){
			const view = this;
			API
			.post('user/potok_info')
			.then(function(response){
				view.reg_end = response.data.potok[0].reg_end;
				console.log(view.potok)
			});
		},
		sign_out_potok_spec(){
			const data = new FormData();
			const view = this;
			data.append('token', view.$store.getters.getUser);
			data.append('id_spec', view.curr_spec_id);
			API
			.post('user/sign_out_potok_spec', data)
			.then(function(response){
				if (response.data.error == 0){
					let spec_name;
					view.$root.$emit('sign_out_potok');
					view.specs.map(spec => {
						if (spec.id_spec === view.curr_spec_id){
							spec.user_sign = 0;

						}
					});
				}else{
					view.$store.dispatch("logout");
				}
				
			})
			.catch(function(response){

			});
		}
	},
	mounted(){
		this.loadSpecs();
		this.loadPotok();
	}
};


</script>