<template>
   <v-list two-line v-if="skills.length != 0">
		<v-list-tile style="" v-for="skill in skills" :key="skill.id">
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text mb-0">{{skill.name}}</h5>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<v-list-tile-action>
			<b>{{getStatus(skill.level)}}</b>
			</v-list-tile-action>
		</v-list-tile>
	</v-list>
	<v-list v-else>
		<v-list-tile>
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text mb-0">У вас ещё нет скиллов</h5>
			</v-list-tile-sub-title>
			</v-list-tile-content>
		</v-list-tile>
	</v-list>
</template>
<script>

import API from 'Api';

export default {
  data() {
		return {
			hw_choose: 0,
			skills: [],
			token: this.$store.getters.getUser,
		}
	},
	methods: {
		getStatus(id){
			if (id == 1){
				return "Junior";
			}else if (id == 2){
				return "Middle";
			}else if (id == 3){
				return "Senior";
			}
		},
		get_skills(){
			const data = new FormData();
			data.append('token', this.token);
			API
			.post('/user/get_student_skills', data)
			.then(response => {
				if (response.data.error == 0){
					this.skills = response.data.skills;
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");

			    }
				
			})

		},
	},
	mounted(){
		this.get_skills();
	}
};


</script>