<template>
   <div class="media pos-relative">
	   <v-dialog
		v-model="need_change_dialog"
		max-width="400px"
		>
			<v-card align-center>
				<v-card-title class="align-item-start">
				Пожалуйста, добавьте картинку!
				</v-card-title>
				<label style="cursor: pointer; display: flex; justify-content: center;" for="upload-photo">
					<div v-if="!user.img" alt="" class="profile_img profile_img_reg"></div>
					<div v-else :src="img_link" alt="" class="profile_img profile_img_reg" v-bind:style="{backgroundImage: `url('${img_link}')`, border: 'none'}"></div>
				</label>
				<input type="file" name="photo" ref="file" id="upload-photo" @change="handleFileUpload()">
				<v-card-actions>
					<v-btn
						color="primary"
						style="width: 100%;"
						text
						@click="add_image()"
					>
						добавить
					</v-btn>
					
				</v-card-actions>
				
			</v-card>
		</v-dialog>
		<img :src="user.img ? img_link : `/img/boy.852a70b2.png`" class="img-responsive rounded-circle mr-4" alt="user profile" width="95" height="95" />
		<div class="media-body">
			
			<h2>{{`${user.surname} ${user.name}`}}</h2>
			<span>{{`${user.university}, ${user.faculcy}`}}</span>
		</div>
		
	</div>
</template>
<script>

import API from 'Api'
import Nprogress from 'nprogress';

export default {
  data() {
		return {
			hw_choose: 0,
			img: '',
			token: localStorage.getItem('user'),
			user: {
				img: true
			},
			new_pass: ''
		}
	},

	computed: {
		need_change_dialog(){
			return this.user.img ? false : true;
		},
        img_link(){
            return `https://api.styleru.org${this.user.img}`
        }
    },
	methods: {
		add_image(){
			const data = new FormData();
			data.append('token', this.token);
			data.append("img", this.img)
			API
			.post("user/add_change_image", data)
			.then(response => {
				if (response.data.error == 0){
					this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно!'
					});
					this.user.img = this.img;	
					this.$root.$emit('change_img');
				}else if (response.data.error == 4){
					this.$store.dispatch('logout')
				}
			})
		},
		// создание файла
		handleFileUpload(){
			Nprogress.start();
			const view = this
			this.img = this.$refs.file.files[0];
			const data_img = new FormData();
			data_img.append('img', this.img);
			API
			.post('user/send_img', data_img, {
				headers: {
					'Content-Type': 'multipart/form-data',
				}
			})
			.then(function(response){
				$('.profile_img').attr('src', 'https://api.styleru.org'+response.data.link).css({'background-image': `url("https://api.styleru.org${response.data.link}")`, 'border': 'none'});
				view.img = response.data.link;
				Nprogress.done();
			})
			.catch(function(response){
				console.log(response);
			});
		},
		user_info() {
			const data = new FormData();
			const view = this;
			data.append('token', this.token)
			API
			.post('user/main_info', data)
			.then(function(response){
				if (response.data.error == 0){
					view.user = response.data.info
				}else{

				}
				
			});
			
		}
	},
	mounted(){
		this.user_info();
	}
};


</script>

<style lang="scss" scoped>

.header
{
  width: 100%;
  display: table;
}
.profile_img
{
  width:100px;
  border: 3px black solid;
  transition: 0.15s;
  cursor: pointer;
}
.header
{
  margin-bottom: 15px;
}
.background-white
{
  background-color: white;
}
.app-card-title h3
{
  text-transform: none !important;
}
input[type="file"]{
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    .profile_img_reg{
        width: 100px;
        background-size: cover;
        background-position: center;
        height: 100px;
        background-image: url(../../../public/static/my_img/add_profile.png);
    }
</style>
