<template>
<span>
   <span v-if="hw_choose == 0">
      <app-card
         heading="Ваши занятия"
         >
         <div>
            <div class="ml-2" >
               <div  class="tabs" >
                  <div v-for="(spec) in specs_names_arr" :key="spec.id" @click="chosen_course = spec.id; chosen_place = spec.id_potok_spec;" class="mytab" :class="{'tab_active':chosen_course==spec.id}" >
                     {{spec.name}}
                  </div>
               </div>
            </div>
            <div class="media-listing">

               <ul class="list-unstyled">
                  <li v-for="(lesson, key) in lessons_place" :key="lesson.id" class="media border-bottom-light-1">
                     <div class="media-body">
                        <span class="fw-bold mb-0">Занятие {{key + 1}}</span>
                        <p class="small mb-1 mt-1">{{lesson.start_date}}</p>
                        <!-- <p class="mb-1 mt-0 small">Оценка: 99</p>
                        <p class="mb-2">Занятие 1</p> -->
                        <div class="buttons">
                           <v-btn outline color="#5d92f4" background-color="" class="ml-0" @click="hw_choose=1; curr_lesson = lesson.id">Материалы</v-btn>
                           <v-btn outline color="red" @click="hw_choose=2; curr_lesson = lesson.id; loadLessonUser(lesson.id, lesson.homework)">Домашнее задание</v-btn>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>       
            <!-- <div class="media-listing">
               
               <ul class="list-unstyled">
                  <li class="media border-bottom-light-1">
                     <div class="media-body">
                        <span class="fw-bold mb-0">Введение в SQL</span>
                        <p class="small mb-1 mt-1">12.09.2019 16:00, Кирпичная 33</p>
                        <p class="mb-1 mt-0 small">Оценка: 99</p>
                        <p class="mb-2">Занятие 1</p>
                        <div class="buttons">
                           <v-btn outline color="#5d92f4" background-color="" class="ml-0" @click="hw_choose=1">Материалы</v-btn>
                           <v-btn outline color="red" @click="hw_choose=2">Домашнее задание</v-btn>
                        </div>
                     </div>
                  </li>
                  <li class="media border-bottom-light-1">
                     <div class="media-body">
                        <span class="fw-bold mb-0">Введение в SQL</span>
                        <p class="small mb-1 mt-1">12.09.2019 16:00, Кирпичная 33</p>
                        <p class="mb-1 mt-0 small">Оценка: 99</p>
                        <p class="mb-2">Занятие 1</p>
                        <div class="buttons">
                           <v-btn outline color="#5d92f4" background-color="" class="ml-0" @click="hw_choose=1">Материалы</v-btn>
                           <v-btn outline color="red" @click="hw_choose=2">Домашнее задание</v-btn>
                        </div>
                     </div>
                  </li>
                  <li class="media border-bottom-light-1">
                     <div class="media-body">
                        <span class="fw-bold mb-0">Введение в SQL</span>
                        <p class="small mb-1 mt-1">12.09.2019 16:00, Кирпичная 33</p>
                        <p class="mb-1 mt-0 small">Оценка: 99</p>
                        <p class="mb-2">Занятие 1</p>
                        <div class="buttons">
                           <v-btn outline color="#5d92f4" background-color="" class="ml-0" @click="hw_choose=1">Материалы</v-btn>
                           <v-btn outline color="red" @click="hw_choose=2">Домашнее задание</v-btn>
                        </div>
                     </div>
                  </li>
                  <li class="media">
                     <v-btn outline color="#5d92f4" background-color="" class="ml-0">Показать завершенные</v-btn>
                  </li>
               </ul>
            </div> -->
         </div>
      </app-card>
   </span>
   <span v-else-if="hw_choose == 2">
      <app-card
         class="mb-3"
         >
         <div>
            <h5 class="fw-bold gray--text mb-0">
               <v-btn @click="hw_choose=0" flat icon class="ma-0">
                  <v-icon >ti-arrow-left</v-icon>
               </v-btn>
               Занятие номер 1
            </h5>
         </div>
      </app-card>
      <app-card
         heading="Ваш ответ" class="mb-3"
         v-if="curr_lesson_user.answer"
         >
         <div>
            {{curr_lesson_user.answer}}
         </div>
      </app-card>
      <app-card
         heading="Задание"
         >
         <div>
            <p v-html="curr_lesson_user.homework">{{curr_lesson_user.homework}}</p>
            <v-textarea
               v-if="!curr_lesson_user.answer"
               name="answer"
               label="Ответ на задание"
               v-model="homework_text"
               >
            </v-textarea>
            <v-textarea
               v-else
               name="answer"
               label="Новый ответ"
               v-model="homework_text"
               >
            </v-textarea>
            <v-btn outline color="#5d92f4" background-color="" class="ml-0" @click="submitHomework()">Отправить</v-btn>

         </div>
      </app-card>
   </span>
   <span v-else>
      <app-card
         class="mb-3"
         >
         <div>
            <h5 class="fw-bold gray--text mb-0">
               <v-btn @click="hw_choose=0" flat icon class="ma-0">
                  <v-icon >ti-arrow-left</v-icon>
               </v-btn>
               <!-- тут можно сделтаь тему занятия по идее -->
               Занятие номер 1
            </h5>
         </div>
      </app-card>
      <app-card
         heading="Материалы"
         class="mb-3"
         >
         <div v-html="curr_lesson_obj[0].materials">
            {{curr_lesson_obj[0].materials}}
            <!-- <ul>
               <li>тут материал 1</li>
               <li>тут материал 1</li>
               <li>тут материал 1</li>
               <li>тут материал 1</li>
               <li>тут материал 1</li>
            </ul> -->
         </div>
      </app-card>
   </span>
</span>
</template>
<script>

import API from 'Api'

export default {
   data() {
      return {
         hw_choose: 0,
         lessons: [],
         specs: [],
         curr_lesson_user: {},
         specs_names: [],
         curr_lesson_homework: undefined,
         curr_lesson_material: undefined,
         chosen_course: 0,
         curr_lesson: 0,
         homework_text: undefined,
         chosen_place: 0
      };
   },
   mounted(){
      const view = this;
      this.$root.$on('sign_in_potok', function(){
         view.loadLessons();
         view.loadSpecs();
      });
      this.$root.$on('sign_out_potok', function(){
         view.loadLessons();
         view.loadSpecs();
      });
      this.loadLessons();
      this.loadSpecs();
   },
   computed: {
      curr_lesson_obj(){
         return this.lessons.filter(less => less.id === this.curr_lesson)
      },
      lessons_place(){
         return this.lessons.filter(less => less.id_potok_spec === this.chosen_place)
      },
      specs_names_arr(){
         return this.specs.filter(spec => {
            if (this.specs_names.includes(spec.name)){
               return false
            }else{
               this.specs_names.push(spec.name);
               return true;
            }
         });
      },
      curr_potok_spec(){
         return this.specs.filter(spec => {return spec.id_spec === this.chosen_course && spec.user_sign });
      }
  },
  methods:{
  
      loadLessons() {
		   const data = new FormData();
         const view = this;
         data.append('token', this.$store.getters.getUser)
         API
         .post('user/get_lessons', data)
         .then(function(response){
            if (response.data.error == 0){
               view.lessons = response.data.lessons;
            }else if (response.data.error == 4){
               view.$store.dispatch("logout");
            }
         });
	   },
      loadLessonUser(id_lesson, homework){
         const data = new FormData();
         const view = this;
         view.homework_text = '';
         data.append('token', this.$store.getters.getUser);
         data.append("id_lesson", id_lesson);
         API
         .post('user/get_lesson_result', data)
         .then(function(response){
            if (response.data.error == 0){
               if (response.data.lessons[0]){
                  view.curr_lesson_user = response.data.lessons[0];
                  view.curr_lesson_user['homework'] = homework;
               }else{
                  view.curr_lesson_user = {homework: homework, answer: undefined};
               }
            }else{
               view.$store.dispatch("logout");

            }
            
         })
      },
      submitHomework(){
         const data = new FormData();
         const view = this;

         data.append('token', this.$store.getters.getUser);
         data.append('id_lesson', this.curr_lesson_obj[0].id);
         data.append('homework', this.homework_text);
         if (this.homework_text){
            API
            .post('user/send_homework', data)
            .then(function(response){
               if (response.data.error == 0){
                  view.curr_lesson_user['answer'] = view.homework_text;
                  view.homework_text = '';
               }else if (response.data.error == 4){
                  view.$store.dispatch("logout");

               }
               
            })
            .catch(function(response){
               console.log(response);
            });
         }
      },
	   loadSpecs() {
		   const view = this;
         const data = new FormData();
         data.append('token', this.$store.getters.getUser);
         API
         .post('user/get_sign_specs', data)
         .then(function(response_user){
            if (response_user.data.error == 0){
               view.specs_names = [];
               view.specs = response_user.data.info;
               view.chosen_course = view.specs[0].id;
               view.chosen_place = view.specs[0].id_potok_spec;
            }else if (response_user.data.error == 4){
               view.$store.dispatch("logout");     
            }
            
            
         })
         .catch(function(error){
            console.log(error)
         });
      
	   }
   }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
</style>
