<template>
    <v-layout row wrap align-center class="h-100">
        <v-flex xs12 sm8 md6 mx-auto>

            <img src="/static/my_img/rulogo.png" class="img-responsive mx-auto mb-1" width="78" height="78" />

            <h3 class="text-center mb-3">Добро пожаловать в Бизнес в стиле .RU</h3>
<!--             <p class="text-center">Бизнес в стиле .RU - это команда единомышленников. И мы надеемся увидеть в своих рядах людей с горящими глазами, готовых учиться, узнавать новое, делать крутые проекты и помогать друг другу! </p> -->
            <p class="text-center">{{ text }}</p>
            <!-- <v-btn raised color="primary" class="mb-0" @click="ok_clicked_start = true">ОК, я понял</v-btn> -->
            <v-btn raised color="primary" class="mb-0" @click="login">ОК, я понял</v-btn>

        </v-flex>
    </v-layout>
</template>

<script>
    console.log(111);
    export default {
        props: ['text'],
        data(){
            return {

            }
        },
        methods: {
            login(){
                this.$root.$emit('login');
            }
        }
    }
</script>

<style scoped>

</style>