<template>
    <v-layout row wrap align-center class="h-100 " >
        <h4  class="text-center mb-3">Выберите курсы</h4>
        <v-flex xs12 sm4 md12 px-2>
            <v-select
                    v-model="courses_list_choose"
                    :items="specs"
                    item-text="name"
                    attach
                    chips
                    label="Курсы"
                    multiple
            ></v-select>
        </v-flex>
        <h4 v-if="courses_list_choose.length > 0"  class="text-center mb-3">Выберите время для выбранных курсов</h4>
        <v-flex xs12 sm4 md12 px-2 v-for="(course, key) in courses_list_choose" v-bind:key="course">
            <v-select
                    :items="potok_spec_list(course)"
                    item-text="place"
                    item-value="id"
                    v-model="lesson_list_place[key]"
                    :label="course"
            ></v-select>
            <table v-if="(lesson_list_place[key])">
                <thead>
                <tr>
                    <th class="text-left">Здание</th>
                    <th class="text-left">Дата занятия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="lesson in lessons_comp(lesson_list_place[key])" :key="lesson.id">
                    <td class="pr-3">{{ lesson.place }}</td>
                    <td>{{ lesson.start_date }}</td>
                </tr>
                </tbody>
            </table>
        </v-flex>
        <v-flex xs12 sm4 md6 class="text-right">
            <v-btn large color="primary" @click="clicked_info">Назад</v-btn>
        </v-flex>
        <v-flex xs12 sm4 md6 class="mx-auto text-right">
            <v-btn large color="primary" @click="sbmt_courses">Зарегистрироваться на школу</v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        props: ['courses_list_choose', 'specs', 'lesson_list_place'],
        data(){
            return{

            }
        },
        methods:{
            potok_spec_list(name_spec){
                return this.specs.filter(spec => spec.name === name_spec);
            },
            lessons_comp(choosen_potok_spec_id){
                return this.lessons.filter(lesson => lesson.id_potok_spec === choosen_potok_spec_id);
            },
            clicked_info(){
                this.$root.$emit('clicked_info')
            },
            sbmt_courses(){
                this.$root.$emit('sbmt_courses', this.lesson_list_place, this.courses_list_choose)
            }
        }
    }
</script>

<style scoped>

</style>