<template>
    <v-layout row wrap align-center class="h-100 " >
        <v-flex xs12 sm8 md12 pa-2>
            <v-text-field
                    label="Почта"
                    type="email"
                    name="email"
                    counter
                    v-model="mail">
            </v-text-field>
        </v-flex>
        <v-flex xs12 sm8 md12 pa-2>
            <v-text-field
                    label="Password"
                    type="password"
                    name="password"
                    v-model="pass">
            </v-text-field>
        </v-flex>

        <v-flex xs12 sm8 md12 pa-2>
            <v-text-field
                    label="Password"
                    type="password"
                    name="password_repeat"
                    v-model="pass_again">
            </v-text-field>
        </v-flex>
        <v-flex xs12 sm5 md1 class="flex-end">
            <v-btn large color="primary" @click="submit_email">Далее</v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        props: ['mail', 'pass', 'pass_again'],
        data(){
            return{

            }
        },
        methods: {
            submit_email(){
                this.$root.$emit('sbmt_email', this.mail, this.pass, this.pass_again)
            }
        }
    }
</script>

<style scoped>

</style>