<template>
<span>
    <app-card
         class="mb-3"
         >
         <div>
            <h5 class="fw-bold gray--text mb-0">
               <v-btn @click="send_back" flat icon class="ma-0">
                  <v-icon >ti-arrow-left</v-icon>
               </v-btn>
               {{lesson.name}}
            </h5>
         </div>
        </app-card>
        <app-card
                heading="Дедлайн" class="mb-3"
        >
            <div :class="[calc_date(deadline) || lesson.answer ? false : 'new-color']">
                {{deadline}}
            </div>
        </app-card>
        <app-card
            heading="Комментарий препода" class="mb-3"
            v-if="lesson.answer"
            >
            <div v-html="lesson.comment">
                {{lesson.comment}}
            </div>
        </app-card>
        <app-card
            heading="Ваш ответ" class="mb-3"
            v-if="lesson.answer"
            >
            <div>
                {{lesson.answer}}
            </div>
        </app-card>
        <app-card
            heading="Задание"
            >
            <div>
                <p v-html="lesson.homework">{{lesson.homework}}</p>
                <v-textarea
                v-if="!lesson.answer"
                name="answer"
                label="Ответ на задание"
                v-model="homework_text"
                >
                </v-textarea>
                
                <v-textarea
                v-else
                name="answer"
                label="Новый ответ"
                v-model="homework_text"
                >
                </v-textarea>
                <v-btn outline color="#5d92f4" background-color="" class="ml-0" @click="submitHomework()">Отправить</v-btn>
            </div>
        </app-card>
   </span>
</template>
<script>

import API from 'Api'

export default {
    props: ['lesson', 'deadline'],
    data() {
        return {
            homework_text: ''
        }
    },
    methods:{
        calc_date(item){
            let new_date = new Date();
            if (item != "0000-00-00 00:00:00"){
                if (new_date - new Date(item.split(' ').join('T')) >= 0)
                    return false;
            }
            return true;
        },
        send_back(){
            this.$root.$emit('back_to_lesson');
    
        },
        submitHomework(){
            const data = new FormData();
            const view = this;
            data.append('token', this.$store.getters.getUser);
            data.append('id_lesson', this.lesson.id);
            data.append('homework', this.homework_text);
            if (this.homework_text){
                API
                .post('user/send_course_homework', data)
                .then(response =>{
                    if (response.data.error == 0){
                        this.lesson['answer'] = this.homework_text;
                        this.homework_text = '';
                    }else if (response.data.error == 4){
                        this.$store.dispatch("logout");
                    }
                })
                .catch(function(response){
                console.log(response);
                });
            }
        },
    }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
.new-color{
    color: red;
}
</style>
