<template>
   <span>
      <app-card
         class="mb-3"
         >
         <div>
            <h5 class="fw-bold gray--text mb-0">
               <v-btn @click="send_back" flat icon class="ma-0">
                  <v-icon >ti-arrow-left</v-icon>
               </v-btn>
               <!-- тут можно сделтаь тему занятия по идее -->
               Занятие номер 1
            </h5>
         </div>
      </app-card>
      <app-card
         heading="Материалы"
         class="mb-3"
         >
         <div v-html="lesson.materials">
         </div>
      </app-card>
   </span>
</template>
<script>

import API from 'Api'

export default {
    props: ['lesson'],
    data() {
        return {
            
        };
    },
    methods:{
        send_back(){
            this.$root.$emit('back_to_lesson');
    
        },
    }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
</style>
