<template>
    <v-container grid-list-xl>
        <v-layout row wrap justify-center pt-0>
            <v-flex xl9 lg9 md10 sm11>
                <v-card elevation="12" style="display: flex; justify-content: center">
                    <div class="c-d-container">
                            <div v-if="get_info(info) > 0" class="cd-title">Чему вы научитесь</div>
                            <div v-if="get_info(info) > 0" class="learn-container">
                                <div class="learn-item" v-for="(el, key) in info.skills" :key="key">
                                    <div class="l-img"></div>
                                    <div class="l-text">{{ el.name }} {{ get_level(el.level) }}</div>
                                </div>
                                <div class="d-line"></div>
                            </div>

                            <div class="d-info-container" v-for="(el, key) in titles" :key="key">
                                <div class="cd-title">{{ el }}</div>
                                <div v-if="titles[2] != el" class="d-line"></div>
                            </div>
                    </div>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "CDDescription",
        props: ['info'],
        data(){
            return{
                titles: ['Формат занятий', 'Темы', 'Дополнительная информация']
            }
        },
        methods: {
            get_level(lvl){
                if (lvl == 1){
                    return 'Junior'
                }else if (lvl == 2){
                    return "Middle"
                }else if (lvl == 3){
                    return "Senior"
                }
            },
            get_info(info){
                if(typeof info.skills == "undefined")
                    return [];
                else
                    return info.skills.length;
            }
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald&display=swap');
    .c-d-container{
        width: 75%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cd-title{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .learn-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .learn-item{
        width: 250px;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    .l-img{
        width: 30px !important;
        height: 30px;
        background: url("../../../../public/static/my_img/tick.png") no-repeat top center;
        background-size: contain;
        margin-right: 15px;
    }
    .l-text{
        width: 280px;
        font-size: 15px;
        padding-top: 5px;
    }
    .d-info-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .d-line{
        width: 100%;
        border-bottom: 1px solid #bbbbbb;
        margin: 15px 0 40px 0;
    }

    @media (max-width: 787px) {
        .l-text{
            width: 170px;
        }
        .learn-item{
            width: 200px;
        }
    }
    @media (max-width: 482px) {
        .l-text{
            width: 90%;
        }
        .learn-item{
            width: 90%;
        }
        .cd-title{
            text-align: center;
            font-size: 18px;
        }
    }
</style>