<template>
	<v-container>
		<v-layout justify-start grid-list-xl row wrap class="mx-3">
			<v-flex xl2 lg3 md4 xs11 sm6 v-for="(list,key) in data" :key="key">
				<router-link :to="'/course/details/'+list.id" >
					<v-card style="height: 320px" elevation="6">

						<div :style="{ background: get_img(list.img_link), backgroundSize: 'cover', width:
						100 + '%', height: 175 + 'px', overflow: 'hidden' }">
							<div class="c-i-triangle"></div>
						</div>
						<div class="c-i-text">
							<div class="c-i-title">{{ list.name }}</div>
							<div v-if="list.active == 1" class="c-i-status">{{ get_status(list.active) }} {{ list.start_date }}</div>
							<div v-else class="c-i-status">{{ get_status(list.active) }}</div>
						</div>

					</v-card>
				</router-link>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import { getCurrentAppLayout } from "Helpers/helpers";
export default {
	props: ['data','colxs','colsm','colmd','collg','colxl','width','height'],
   data() {
		return {
			dialog: false
        }
	},
	methods: {
		get_status(stat){
			if (stat == 1){
				return "Курс начинается:"
			}else if (stat == 2){
				return "В процессе"
			}else if (stat == 3){
				return "Завершен"
			}
		},
		get_img(img){
			if (img.length > 5)
				return `url("https://api.styleru.org${img}") no-repeat top center`;
			else
				return '#30c6c5';
		},
		getLevel(id){
			if (id == 1){
				return 'Junior';
			} else if( id == 2){
				return "Middle";
			} else if (id == 3){
				return "Senior";
			}
		},
		getCurrentAppLayoutHandler() {
			return getCurrentAppLayout(this.$router);
    	}
  	}
}
</script>
<style>
	@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald&display=swap');
	.card-item{
		height: 400px;
	}
	.c-i-triangle{
		width: 150%;
		height: 35%;
		background: white;
		transform: skew(-78.7deg);
		position: relative;
		top: 66%;
		left: 50%;
		z-index: 3;
	}
	.c-i-text{
		color: rgba(0, 0, 0, 1);
		height: 145px;
		width: 65%;
		padding: 5px 0 5px 25px;
		display: flex;
		font-size: 16px;
		flex-direction: column;
		justify-content: space-evenly;
		/*font-weight: 400;*/
	}
	.c-i-status{
		font-size: 14px;
	}
	@media (max-width: 959px) {
		.c-i-triangle{
			left: 55%;
			height: 60%;
			top: 45%;
			transform: skew(-80.7deg);
		}
		.c-i-text{
			font-size: 20px;
		}
		.c-i-status{
			font-size: 17px;
		}
	}
	@media (max-width: 800px) {
		.c-i-triangle{
			left: 73%;
			height: 60%;
		}
		.c-i-text{
			font-size: 17px;
		}
		.c-i-status{
			font-size: 15px;
		}
	}
	@media (max-width: 599px) {
		.c-i-triangle {
			left: 50%;
			top: 46%;
		}
		.c-i-text{
			font-size: 22px;
			width: 80%;
		}
		.c-i-status{
			font-size: 17px;
		}
	}
	@media (max-width: 450px) {
		.c-i-triangle{
			left: 70%;
			top: 48%;
		}
		.c-i-text{
			font-size: 20px;
		}
		.c-i-status{
			font-size: 17px;
		}
	}
</style>