<template>
    <v-container grid-list-xl>
        <v-layout row wrap justify-center pt-0>
            <v-flex xl9 lg9 md10 sm11>
                <v-card elevation="12">
                    <div class="banner">
                        <div class="status">{{ get_status(info.active) }}</div>
                        <div class="status-img"></div>
                        <div class="banner-container">
                            <div class="b-title">{{ info.name }}</div>
                            <div class="b-info-container">
                                <div class="b-info-item">
                                    <div class="b-info-title">ПРОДОЛЖИТЕЛЬНОСТЬ</div>
                                    <div class="b-info-text"></div>
                                </div>
                                <div class="b-info-item">
                                    <div class="b-info-title">ПРЕПОДАВАТЕЛИ</div>
                                    <div class="b-info-text">{{get_teachers(info.teachers ?  info.teachers : [])}}</div>
                                </div>
                                <div class="b-info-item1">
                                    <div class="b-info-title1">Старт: </div>
                                    <div class="b-info-text1">{{ get_start_date(info.start_date) }}</div>
                                    <v-btn v-if="get_status(info.active) == 1" outline color="white">Записаться</v-btn>
                                </div>
                            </div>
                        </div>
                    </div>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        props: ['info', 'img'],
        name: "CourseDetailBanner1",
        data() {
            return {

            }
        },
        methods: {
            getStyle(img_link){
                return img_link == '0' ?  'background: #30c6c5 !important;' :
                    `background-image: url(https://api.styleru.org${img_link})`;
            },
            get_teachers(teachers){
                if (teachers.length == 0){
                    return "нет учителей"
                }
                else if (teachers.length == 1){
                    return teachers[0].fullname;
                }else{
                    let res = '';
                    teachers.forEach(tech => {
                        res+= `${tech.fullname}, `;
                    });
                    return res;
                }
            },
            get_status(stat){
                if (stat == 1){
                    return "Набор группы"
                }else if (stat == 2){
                    return "В процессе"
                }else if (stat == 3){
                    return "Завершен"
                }
            },
            get_start_date(date){
                let p = new Date(date);
                let d = '';
                if (p.getDate() < 10)
                    d = d + '0' + p.getDate().toString();
                else
                    d = d + p.getDate().toString();
                if (p.getMonth() + 1 < 10)
                    d = d + '/' + '0' + (p.getMonth() + 1).toString() + '/' + p.getFullYear().toString();
                else
                    d = d + '/' + (p.getMonth() + 1).toString() + '/' + p.getFullYear().toString();
                return d;
            }
        },
        beforeMount() {
        }

    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald&display=swap');
    .status{
        position: absolute;
        top: 20px;
        left: -5px;
        width: 140px;
        height: 30px;
        background: white;
        text-align: right;
        padding-top: 3px;
    }
    .status-img{
        position: absolute;
        top: 19px;
        left: 133px;
        width: 30px;
        height: 31px;
        background-size: contain;
        background: url("../../../../public/static/my_img/triangle.gif");
    }
    .banner{
        width: 100%;
        height: 320px;
        background: linear-gradient(0deg, rgba(42, 142, 148, 0.6), rgba(42, 142, 148, 0.6)), url("../../../../public/static/my_img/business_analisys_7.jpg") 0 -40px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0;
    }
    .banner-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .b-title{
        font-size: 47px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        padding-bottom: 40px;
    }
    .b-info-container{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .b-info-item{
        width: 30%;
        display: flex;
        flex-direction: column;
        padding-top: 6px;
    }
    .b-info-item1{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .b-info-title{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: white;
        text-align: left;
        font-weight: 300;
        padding-bottom: 7px;
    }
    .b-info-text{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        color: white;
        font-size: 19px;
        font-weight: 400;
    }
    .b-info-title1{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 300;
        padding-right: 10px;
    }
    .b-info-text1{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 19px;
        padding-top: 2px;
    }
    @media (max-width: 1134px) {
        .banner-container{
            width: 90%;
        }
        .b-info-container{
            /*width: 80%;*/
        }
        .b-title{
            font-size: 42px;
        }
    }
    @media (max-width: 806px) {
        .banner{
            padding: 80px 0;
            background-position: 0 0;
            background-size: cover;
        }
        .b-title{
            font-size: 35px;
            margin-bottom: 20px;
        }
        .b-info-title{
            font-size: 11px;
        }
        .b-info-text{
            font-size: 17px;
        }
        .b-info-title1{
            font-size: 17px;
        }
        .b-info-text1{
            font-size: 17px;
        }
    }
    @media (max-width: 690px) {
        .banner{
            height: auto;
        }
        .status{
            width: 100px;
        }
        .status-img{
            left: 94px;
        }
        .b-title{
            text-align: center;
            padding: 0;
            margin: 0;
        }
        .b-info-item{
            width: 160px;
            margin: 30px 10px 0 10px;
        }
        .b-info-item1{
            width: 160px;
            margin: 40px 10px 0 10px;
        }
    }
    @media (max-width: 400px) {
        .banner{
            padding: 60px 0 25px 0;
        }
        .b-title{
            font-size: 27px;
        }
        .b-info-container{
            justify-content: flex-start;
        }
        .b-info-item{
            margin: 10px 0 0 0;
            width: 60%;
        }
        .b-info-item1{
            width: 100%;
            margin: 20px 0 0 0;
        }
        .b-info-title{
            display: none;
        }
        .b-info-text{
            font-size: 16px;
        }
        .b-info-text1{
            font-size: 16px;
        }
        .b-info-title1{
            font-size: 16px;
        }
    }
</style>