
<template>
   <app-card  
      class="detail-dec-wrap"
      colClasses="xs12 sm12 md12 lg12 xl12"
      heading="Запись на курс"
      contentCustomClass="pt-0"
   >
      <v-flex xs12 sm12>
            <span class="d-block">Почему вас должны взять на курс?</span>
            <wysiwyg v-model="ask.ask"/>
      </v-flex>
      <v-btn
         v-if=!course_info.registered
         color="primary"
         text
         @click="send_ask "
      >
         Отправить
      </v-btn>
   </app-card>
</template> 

<script>
import api from "Api"
import Nprogress from 'nprogress'

export default {
   props: ['course_info'],
   data() {
		return {
			id: this.$route.params.id,
         ask: {
            ask: ''
         }
      }
   },
   methods: {
        send_ask(){
            if (this.ask.ask){
                Nprogress.start()
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                data.append("id", this.id);
                data.append("ask", this.ask.ask)
                api
                .post("user/send_ask_course", data)
                .then(response => {
                    Nprogress.done()
                    if (response.data.error == 0){
                        this.$root.$emit('ask_sended');
                        this.$notify({
                            group:'loggedIn',
                            type: 'success',
                            text: 'Успешно отправлено!'
                        });
                    }else if (response.data.error == 4){
                        this.$store.dispatch("logout");
                    }
                })
            }
        }
    }
}
</script>