<template>
   <app-card  
      class="detail-dec-wrap"
      colClasses="xs12 sm12 md12 lg12 xl12"
      :heading="$t('message.description')"
      contentCustomClass="pt-0"
   >
      <p v-html="course_info.description">
         {{course_info.description}}
      </p>
   </app-card>
</template>

<script>
export default {
   props: ['course_info'],
   data() {
		return {

      }
   }
}
</script>

