<template>
   <app-card 
      class="course-info-wrap"
      :heading="$t('message.whatYoWillLearn')"
      colClasses="xs12 sm12 md12 lg12 xl12"
      contentCustomClass="pt-0"
   >
      <div class="course-info-box">
         <ul class="info-box-list">
            <li v-for="(info, key) in course_info.skills" :key="key"><i class="material-icons">check</i><span>{{`${info.name} (${get_level(info.level)})`}}</span></li>
         </ul>
      </div>
   </app-card>
</template>

<script>
import CourseData from "../data";
export default {
   props: ['course_info'],
   data() {
		return{
         CourseData
      }
   },
   methods:{
      get_level(lvl){
         if (lvl == 1){
            return 'Junior'
         }else if (lvl == 2){
            return "Middle"
         }else if (lvl == 3){
            return "Senior"
         }
      },
   },
   mounted() {
      console.log(this.course_info.skills);
   }
}
</script>