<template>
   <div class="banner-image-wrap banner-detail grey darken-4 ma-0" :style="`${getStyle()}`">
      <v-container grid-list-xl fluid style="position: relative;">
         <div class="banner-content-wrap">
            <v-layout row wrap align-center justify-center fill-height>
               <v-flex xs12 sm12 md12 lg12 xl12>
                  <v-layout row wrap align-center justify-center filll-height>
                     <v-flex xs12 sm12 md12 lg12 xl12>
                        <h1 class="white--text">{{course_info.name}}</h1>
                        <!-- <h4 class="white--text">{{CourseData.courseDetail.content}}</h4> -->
                        <div class="meta-info">
                           <p class="white--text">
                              <span class="bestseller-tag d-inline-block mr-3 mb-1">Статус</span>
                              <span class="rating-wrap d-inline-block"></span>
                              <span class="student-count d-inline-block"><span class="count font-weight-bold">{{get_status(course_info.active)}}</span></span>
                           </p>
                           <ul>
                              <li class="white--text">
                                 <span class="instructor-name d-inline-block"><span class="white--text"> Для прохождения курса необходимо набрать общий бал не меньше {{course_info.min_mark}} </span></span>
                              </li>
                              <li class="white--text">
                                 <span class="updated-time d-inline-block">{{course_info.request == 1 ? "Для того чтобы пройти на курс нужно написать мотивационное письмо" : "Для того чтобы попасть на курс нужно просто записаться"}}</span>
                              </li>
                              <li class="white--text">
                                 <span class="updated-time d-inline-block">Учителя на курсе: {{get_teachers(course_info.teachers ?  course_info.teachers : [])}}</span>
                              </li>
                           </ul>
                           <p class="white--text mt-2">
                              <span class="language layout align-start ma-0">Старт курса: {{course_info.start_date}}</span>
                           </p>
                           <span v-if="course_info.active == 1">
                              <v-btn
                                 v-if="course_info.register == 0"
                                 color="primary"
                                 text
                                 @click="sigin_in"
                              >
                                 Записаться
                              </v-btn>
                              <v-btn
                                 v-else
                                 color="error"
                                 text
                                 @click="sigin_out"
                              >
                                 Отписаться
                              </v-btn>
                           </span>
                        </div>
                     </v-flex>
                  </v-layout>
               </v-flex>
            </v-layout>
         </div>
      </v-container>
      <v-dialog
      v-model="dialog"
		max-width="600px">
         <CourseSignIn :course_info="course_info"></CourseSignIn>
      </v-dialog>
   </div>
</template>
<style>
.banner-image-wrap{
   background-size: cover;
   position: relative;
   background-position: center;
}
.banner-image-wrap::before{
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
   background-color: rgb(0, 0, 0);
   opacity: 0.3;
   content: '';
   display: table;
}
h1{
   font-size: 3.75rem;
}
</style>

<script>
import CourseSignIn from './CourseSignIn.vue';
import api from "Api"
import Nprogress from 'nprogress'

export default {
   components: {
      CourseSignIn,
   },
   props: {
      course_info:{
         type: Object,
         default: function(){
            return new Object({img_link: '0'});
         },
         
      },
   },
   mounted(){
      console.log(this.course_info);
      this.$root.$on('ask_sended', () =>{
         this.dialog = false;
         this.course_info.register = 1;
      });
   },
   
   
   
   data(){
      return {
         
         dialog: false,
         id: this.$route.params.id,
         registered: false,
         banner_style: {
            // 'background-image': `url("https://api.styleru.org${this.course_info.name}")`,
            'background-size': 'cover',
            'background-position': 'center'
         }
      }
   },
   methods:{
      getStyle(){
         return this.course_info.img_link == '0' ?  'background: #30c6c5 !important;' : `background-image: url(https://api.styleru.org${this.course_info.img_link})`;
      },
      sigin_out(){
         Nprogress.start();
         const data = new FormData();
         data.append('token', this.$store.getters.getUser);
         data.append("id", this.id)
         api
         .post("user/sign_out_course", data)
         .then(response => {
            if (response.data.error == 0){
               Nprogress.done();
               this.$notify({
                     group:'loggedIn',
                     type: 'success',
                     text: 'Успешно отписан!'
               });
               this.course_info.register = 0;

            }else if (response.data.error == 4){
               Nprogress.done();
               this.$store.dispatch("logout");
            }
         });
      },
      sigin_in(){
         if (this.course_info.request == 1){
            this.dialog = true;
         }else{
            Nprogress.start();
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append("id", this.id)
            api
            .post("user/sign_in_course", data)
            .then(response => {
               if (response.data.error == 0){
                  Nprogress.done();
                  this.$notify({
                        group:'loggedIn',
                        type: 'success',
                        text: 'Успешно записан!'
                  });
                  this.course_info.register = 1;

               }else if (response.data.error == 4){
                  Nprogress.done();
                  this.$store.dispatch("logout");
               }
            });

         }
      },
      get_teachers(teachers){
         if (teachers.length == 0){
            return "нет учителей"
         }
         else if (teachers.length == 1){
            return teachers[0].fullname;
         }else{
            let res = '';
            teachers.forEach(tech => {
               res+= `${tech.fullname}, `;
            });
            return res;
         }
      },
      get_status(stat){
         if (stat == 1){
            return "Набор людей"
         }else if (stat == 2){
            return "В процессе"
         }else if (stat == 3){
            return "Завершен"
         }
      } 
   },
   
}
</script>
