<!-- Header Structure -->
<template>
	<div>

		<v-toolbar 
			class="Vuely-toolbar toolbr"
			app
			:color="activeHeaderFilter.class"
			style="box-shadow: 0 4px 8px #aaaaaa"
		>
			<div class="d-custom-flex align-items-center navbar-left">
				<app-logo></app-logo>
			</div>

			<div class="navbar-center" style="display: flex; flex-direction: row">
				<div v-for="(category, key) in menu" class="links">
					<div v-for="item in category" class="one-link">
						<router-link v-if="item.role.includes(parseInt(role), 0)"
									 :to="!item.exact ? `/${getCurrentAppLayoutHandler() + item.path}` : item.path" :key="item.title"
						style="color: black">
							<span v-if="print_title()" :class="[active == textTruncate($t(item.title)) ? 'active' : false]">{{ textTruncate($t(item.title)) }}</span>
						</router-link>
					</div>
				</div>
			</div>

			<div class="d-custom-flex align-items-center navbar-right">
				<!-- <v-btn icon large @click="toggleFullScreen" class="full-screen ma-0">
					<v-icon color="grey">fullscreen</v-icon>
				</v-btn> -->
				
				<!-- <notifications></notifications> -->
				<user :user="user"></user>
			</div>

		</v-toolbar>

	</div>
</template>

<script>
import Sidebar from "../Sidebar/Sidebar.vue";
import { menus} from "../../store/modules/sidebar/data";
import screenfull from "screenfull";
import AppLogo from "Components/AppLogo/AppLogo";
import Notifications from "./Notifications";
import User from "./User";

import QuickLinks from "./QuickLinks";
import MobileSearchForm from "./MobileSearchForm";
import { textTruncate, getCurrentAppLayout } from "Helpers/helpers";
import { mapGetters } from "vuex";
import API from 'Api'

export default {
	props: {
		horizontal: {
			default: false,
			type: Boolean
		}
	},
	data() {
		return {
			user: {},
			menu: menus,
			collapsed: false, // collapse sidebar
			drawer: null, // sidebar drawer default true

			sidebarImages: "", // sidebar background images
			enableDefaultSidebar: false,
			role: this.$store.getters.getRole,
			token: this.$store.getters.getUser,
			active: 'Профиль'
		};
	},
	computed: {
		...mapGetters([
			"rtlLayout",
			"backgroundImage",
			"backgroundImage",
			"selectedSidebarBgImage",
			"darkMode",
			"collapseSidebar",
			"activeHeaderFilter"
		])
	},
	mounted(){
		this.$root.$on('change_img', ()=>{
            this.loadUser();
		});
		this.$root.$on('profile_edited', ()=>{
			this.loadUser();
		});
		this.loadUser();
		console.log(this.$route.path);
	},
	methods: {
		print_title(){
			if (this.$route.path.indexOf('profile') > -1)
				this.active = 'Профиль';
			if (this.$route.path.indexOf('course') > -1)
				this.active = 'Курсы';
			if (this.$route.path.indexOf('project') > -1)
				this.active = 'Проекты';
			return true;
		},
		textTruncate(text) {
			return textTruncate(text, 18);
		},
		loadUser(){
			const data = new FormData();
			const view = this;
			data.append('token', this.token)
			API
			.post('user/main_info', data)
			.then(response=>{
				if (response.data.error == 0){
					this.user = response.data.info
					if (this.user.role != this.$store.getters.getRole){
						this.$store.dispatch("setRole", this.user.role);
					}
				}else{

				}
			});
		},
		// toggle full screen method
		toggleFullScreen() {
			if (screenfull.enabled) {
			screenfull.toggle();
			}
		},
		sidebarPath(link){
			this.$store.dispatch('setActiveMenuGroup',{ pathURL: link });
			this.$router.push(this.getMenuLink(link));
		},
		getMenuLink(link) {
			return "/" + getCurrentAppLayout(this.$router) + link;
		},
			toggleSearchForm() {
				this.$store.dispatch('toggleSearchForm');
		}
	},
	components: {
		appSidebar: Sidebar,
		Notifications,
		QuickLinks,
		User,
		menus,
		AppLogo
	}
};
</script>

<style>
	.toolbr{
		/*height: 300px;*/
	}
	.links{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.one-link{
		margin: 0 60px;
	}
	.active{
		border-bottom: 2px solid #00D0BD;
	}
	@media (max-width: 768px) {
		.one-link{
			margin: 0 30px;
		}
	}
	@media (max-width: 480px) {
		.one-link{
			margin: 0 10px;
		}
	}
	@media (max-width: 380px) {
		.one-link{
			font-size: 12px;
			margin: 0 5px;
		}
	}
</style>