<template>
   <v-menu offset-y origin="right top" left content-class="language-dropdown" transition="slide-y-transition" nudge-top="-10" class="user-block-wrap ">
		<v-btn icon large slot="activator">
			<img :src="user.img ? img_link : `/img/boy.852a70b2.png`"  alt="avatar" height="40" width="40" class="img-responsive rounded-circle" />
		</v-btn>
		<div class="dropdown-content">
         <div class="dropdown-top white--text primary">
            <span class="white--text fs-14 fw-bold d-block">{{`${user.surname} ${user.name}`}}</span>
            <span class="d-block fs-12 fw-normal">{{user.mail}}</span>
         </div>
         <v-list class="dropdown-list">
            <template >
               <v-list-tile @click="profile = false" v-if="profile" :to="getMenuLink(userLinks[0].path)">
                  <i :class="userLinks[0].icon"></i>
                  <span>{{$t(userLinks[0].title)}}</span>
               </v-list-tile>
               <v-list-tile @click="profile = true" v-if="!profile" :to="getMenuLink(userLinks[1].path)">
                  <i :class="userLinks[1].icon"></i>
                  <span>{{$t(userLinks[1].title)}}</span>
               </v-list-tile>
               <v-list-tile @click="logoutUser" :key="userLinks[2].id">
                  <i :class="userLinks[2].icon"></i>
                  <span>{{$t(userLinks[2].title)}}</span>
               </v-list-tile>
            </template>
           
         </v-list>
      </div>
	</v-menu>
</template>
<script>
import API from 'Api'
export default{
   props: ['user'],
   data() {
      return {
         profile: true,
         userLinks: [
            {
               id: 1,
               title: 'Редактировать',
               icon: 'ti-user mr-2 primary--text',
               path: 'profile/edit',
               method: 'goToEdit'
            },
            {
               id: 1,
               title: 'Профиль',
               icon: 'ti-user mr-2 primary--text',
               path: 'profile',
            },
            {
               id: 4,
               title: 'Выход',
               path: 'session/login',
               icon: 'ti-power-off mr-2 error--text',
               method: 'logoutUser'
            }
         ],
         token: this.$store.getters.getUser,
      }
   },
   
   mounted(){
         const view = this;
         this.$root.$on('profile_edited', function(){
            view.profile = true;
         });
    },
   computed:{
      userLinks_4(){
         return userLink.filter(link => link.id !== 4)
      },
      img_link(){
         return `https://api.styleru.org${this.user.img}`
      }
   },
   methods: {
      logoutUser() {
         const data = new FormData();
         const view = this;
         data.append('token', this.$store.getters.getUser)
         API
         .post('user/logout', data)
         .then(function(response){
            view.$store.dispatch("logout");

         })
         .catch(function(error){
            console.log(error)
         });
         
      },
      goToEdit(){
         return;
      },
      getMenuLink(path) {
         return '/' + path;
      }
   }

}
</script>
<style>
.img-responsive{
   width: 44px;
   height: 44px !important;
}
</style>
