<template>
    <v-layout row wrap align-center class="h-100 " >
        <v-flex xs12 sm4 md2 pa-2>

            <img src="/static/my_img/add_profile.png" alt="" class="profile_img ">

        </v-flex>
        <v-flex xs12 sm8 md10 >
            <v-text-field label="Фамилия"></v-text-field>
            <v-text-field label="Имя" ></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-text-field label="ВУЗ"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-text-field label="Факультет"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-select
                    :items="[1,2,3,4,5,6]"
                    label="Курс"
            ></v-select>
        </v-flex>


        <v-flex xs12 sm4 pa-2>
            <v-text-field label="Телефон"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-text-field label="VK"></v-text-field>
        </v-flex>
        <v-flex xs12 sm4 pa-2>
            <v-text-field label="Telegram"></v-text-field>
        </v-flex>
        <v-flex xs12>
            <h4 class="px-2 mb-0 mt-4">Составьте свое расписание</h4>
            <v-layout row wrap align-center class="h-100 mt-0" >
                <v-flex xs12 sm4 px-2>
                    <v-select
                            :items="['Кирпичная субботы', 'вторники']"
                            label="Разработка"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm4 px-2 >

                    <v-select
                            :items="['Кирпичная субботы', 'вторники']"
                            label="Дизайн"
                    ></v-select>
                </v-flex>

            </v-layout>
        </v-flex>

    </v-layout>
</template>

<script>
    export default {
        data(){
            return{

            }
        }
    }
</script>

<style scoped>

</style>