<template>
	<div class="session-wrapper">

		<div class="session-right text-xs-center" style="margin-left: 0 !important">
			<div class="session-table-cell">
				<div class="session-content">
					<img 
						src="/static/my_img/rulogo.png"
						class="img-responsive mb-3" 
						width="78" 
						height="78" 
					/>
					<!-- <p class="fs-14">{{$t('message.enterUsernameAndPasswordToAccessControlPanelOf')}} {{brand}}.</p> -->
					<v-form v-model="valid" class="mb-4" v-if="login_container">
						<h2 class="mb-3">{{$t('message.loginToAdmin')}}</h2>
						<v-text-field
							label="E-mail ID" 
							v-model="email" 
							required
						></v-text-field>
						<v-text-field 
							label="Password" 
							v-model="password" 
							type="password" 
							required
						></v-text-field>
						<p class="fs-14" style="text-align: right; cursor: pointer;" @click="reset_password">Восстановить пароль</p>
						<div>
							<v-btn large @click="submit" block color="primary">{{$t('message.loginNow')}}</v-btn>
							<!-- <v-btn large @click="onCreateAccount" block color="warning">{{$t('message.createAccount')}}</v-btn> -->
						</div>
					</v-form>
					<div>Если у вас нет доступа для входа в ЛМС, напишите об этом <a href="https://vk.com/stastrofimov">Стасу во вконтакте</a></div>
					<v-form v-model="valid" class="mb-4" v-if="Pass_container">
						<h2 class="mb-3">Восстановить пароль</h2>
						<v-text-field 
							label="E-mail ID" 
							v-model="email_recover" 
							required
						></v-text-field>
						<div v-if="checker_code">
							<v-text-field 
								label="Проверочный код" 
								v-model="checkcode_text" 
								required
							></v-text-field>
							<v-text-field 
								label="Новый пароль" 
								v-model="new_pass" 
								type="password"
								required
							></v-text-field>
						</div>
						
						<div>
							<v-btn large @click="send_code" block color="primary" v-if="!checker_code">Отправить код</v-btn>
							<v-btn large @click="recover_pass" block color="primary" v-else-if="checker_code">Восстановить пароль</v-btn>
							
							<v-btn large @click="login_cont" block color="warning">Войти</v-btn>
						</div>
					</v-form>

					
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import { mapGetters } from "vuex";
import SessionSliderWidget from "Components/Widgets/SessionSlider";
import AppConfig from "Constants/AppConfig";
import API from 'Api';
import Nprogress from 'nprogress';




export default {
  components: {
    SessionSliderWidget
  },
  data() {
    return {
      checkbox: false,
			valid: false,
			Pass_container: false,
			login_container: true,
			checker_code: false,
			checkcode_text: '',
			new_pass: '',
			email_recover: '',
      email: "",
      password: "",
      appLogo: AppConfig.appLogo2,
      brand: AppConfig.brand
    };
  },
  methods: {
		
		send_code(){
			Nprogress.start();

			const data = new FormData();
			data.append('mail', this.email_recover);
			API
			.post("user/send_recover", data)
			.then(response => {
				if (response.data.error == 0){
					this.checker_code = true;
					Nprogress.done();
				}else if (response.data.error == 3){
					this.$notify({
							group: 'loggedIn',
							type: 'error',
							text: 'Неправильная почта!'
					});		
					Nprogress.done();

				}
			})
			.catch(error => {
				console.log(error);
			})
		},
		recover_pass(){
			Nprogress.start();

			const data = new FormData();
			data.append("checkcode", this.checkcode_text);
			data.append('pass', this.new_pass);
			API
			.post('user/recover_pass', data)
			.then(response => {
				if (response.data.error == 0){
					this.login_container = true;
					this.Pass_container = false;
					Nprogress.done();

					this.$notify({
							group: 'loggedIn',
							type: 'success',
							text: 'Успешно!'
					});
				} else if (response.data.error == 3){
					Nprogress.done();

					this.$notify({
							group: 'loggedIn',
							type: 'error',
							text: 'Неправильный код!'
					});
				}
			})
		},
		login_cont(){
			this.Pass_container = false;
			this.login_container = true;
		},
		reset_password(){
			this.Pass_container = true;
			this.login_container = false;
		},
    submit() {
      const user = {
        email: this.email,
        password: this.password
	  };
	  this.$store.dispatch("signinUser", user);
    },
    onCreateAccount() {
      this.$router.push("/register");
    }
  }
};
</script>
