<template>
<span>
   <span v-if="hw_choose == 0">
      <app-card
        v-if="courses.length"
        heading="Ваши занятия"
        >
        <div>
        <div class="ml-2" >
            <div  class="tabs" >
                <div v-for="(course) in courses" :key="course.id" @click="chosen_course = course.id" class="mytab" :class="{'tab_active':chosen_course==course.id}" >
                    {{course.name}}
                </div>
            </div>
        </div>
        <div class="media-listing">
            <ul class="list-unstyled">
                <li v-for="(lesson) in paginatedData" :key="lesson.id" class="media border-bottom-light-1">
                    <div class="media-body">
                        <span class="fw-bold mb-0">{{lesson.name}}</span>
                        <p class="small mb-1 mt-1">{{`${lesson.start_time} ${lesson.place}`}}</p>
                        <div class="buttons">
                            <v-btn outline color="#5d92f4" background-color="" class="ml-0" @click="hw_choose=1; curr_lesson = lesson.id">Материалы</v-btn>
                            <v-btn outline color="red" @click="hw_choose=2; curr_lesson = pageNumber * 4 + lesson.id; curr_lesson_deadline = lesson.deadline; loadLessonUser(pageNumber * 4 + lesson.id, lesson.homework, lesson.name)">Домашнее задание</v-btn>
                        </div>
                    </div>
                    <div class="media-right pos-relative" v-if="lesson.result[0]">
                        <span :class="{'warning--text': lesson.result[0].comment == null}">{{lesson.result[0].comment != null ? `Оценка: ${lesson.result[0].result}` : 'На проверке'}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <v-btn v-if="pageNumber > 0" outline color="#5d92f4" background-color="" class="ml-0" @click="prev_page">Предыдущие занятия</v-btn>
        <v-btn v-if="pageNumber < page_count - 1" outline color="#5d92f4" background-color="" class="ml-0" @click="next_page">Следующие занятия</v-btn>
        </div>
      </app-card>
      <app-card
        v-else
        heading="Чтобы появились занятия запишитесь на курсы"
        >
      </app-card>
   </span>
   <span v-else-if="hw_choose == 2">
      <HomeWorkLesson :lesson="curr_lesson_user" :deadline="curr_lesson_deadline"></HomeWorkLesson>
   </span>
   <span v-else>
      <MaterialsLesson :lesson="curr_lesson_obj[0]"></MaterialsLesson>
   </span>
</span>
</template>
<script>

import API from 'Api';
import HomeWorkLesson from "./UserActivityWidgets/HomeWorkLesson";
import MaterialsLesson from "./UserActivityWidgets/MaterialsLesson";
export default {
    components:{
        HomeWorkLesson,
        MaterialsLesson
    },
    data() {
        return {
            hw_choose: 0,
            courses: [],
            curr_lesson_user: {},
            chosen_course: 0,
            curr_lesson: 0,
            chosen_place: 0,
            curr_lesson_deadline: undefined,
            pageNumber: 0
        };
    },
    mounted(){   
        this.$root.$on('back_to_lesson', () =>{
            this.hw_choose = 0;
        });
        this.loadLessons();
    },
    computed: {
        curr_lesson_obj(){
            return this.curr_course[0].lessons.filter(less => less.id === this.curr_lesson)
        },
        curr_course(){
            console.log(this.courses.filter(cur => cur.id == this.chosen_course))
            return this.courses.filter(cur => cur.id == this.chosen_course);
        },
        page_count(){
            return Math.ceil(this.curr_course[0].lessons.length / 4);
        },
        paginatedData(){
            const start = this.pageNumber * 4,
                end = start + 4;
            return this.curr_course[0].lessons.slice(start, end);
        }
    },
    methods:{
        next_page(){
            this.pageNumber++;
        },
        prev_page(){
            this.pageNumber--;
        },
        loadLessons() {
            const data = new FormData();
            const view = this;
            data.append('token', this.$store.getters.getUser)
            API
            .post('user/get_courses_lessons', data)
            .then(response =>{
                if (response.data.error == 0){
                    this.courses = response.data.courses;
                    this.chosen_course = response.data.courses[0] ? response.data.courses[0].id : 0;
                    console.log(this.page_count)
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");
                }
            });
        },
        loadLessonUser(id_lesson, homework, name){
            const data = new FormData();
            const view = this;
            view.homework_text = '';
            data.append('token', this.$store.getters.getUser);
            data.append("id_lesson", id_lesson);
            API
            .post('user/get_course_lesson_result', data)
            .then(response => {
                if (response.data.error == 0){
                    if (response.data.lessons[0]){
                        this.curr_lesson_user = response.data.lessons[0];
                        this.curr_lesson_user['homework'] = homework;
                    }else{
                        this.curr_lesson_user = {homework: homework, answer: undefined, id: id_lesson, name: name};
                    }
                }else{
                this.$store.dispatch("logout");

                }
                
            })
        },
    }
};
</script>
<style>
h3{
    text-transform: none !important;
}
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
    .new-color{
        color: red;
    }
</style>
