<template>

    <v-container class="pb-1">
        <v-layout justify-center grig-list-xs row wrap>
            <v-flex sm12 md12 lg11 xl11>
                <v-card style="display: flex; flex-direction: column; align-items: center" elevation="8">
                    <div id="exportContent" class="doc-container">
                        <div style="width: 100%; text-align: center">Портфолио студента Бизнес в стиле.RU</div>
                        <div style="width: 100%; text-align: center; margin: 0 0 40px 0">{{user_name}}</div>
                        <div>Ваши навыки:</div>
                        <div>{{skills}}</div>
                        <div>Ваши курсы:</div>
                        <div>{{courses}}</div>
                        <div>Ваши проекты:</div>
                        <div>{{projects}}</div>
                        <div style="margin: 40px 0 0 0">Руководитель Бизнес в стиле.RU</div>
                        <div>Станислав Трофимов</div>
                    </div>
                    <button @click="Export2Doc('exportContent')">Скачать портфолио</button>
                </v-card>
            </v-flex>
            <v-flex sm12 md12 lg11 xl11>
                <v-card style="display: flex; flex-direction: column; align-items: center; margin: 30px 0;" elevation="8">
                    <div ref="content">
                        <div class="certificate-one">
                            <div class="first-line"></div>
                            <div class="second-line"></div>
                            <div class="third-line"></div>
                            <div class="text-container">
                                <div id="school-name">Бизнес в стиле .RU<br> Школа digital профессий при НИУ ВШЭ</div>
                                <div class="certificate-title">Сертификат</div>
                                <div id="c-user-name">{{user_name}} Романовна</div>
                                <div class="certificate-title">Успешно прошел курс в 2020 годy</div>
                                <div id="c-course">{{one_course_for_certificate}}</div>
                                <div class="certificate-title">Навыки, полученные при прохождении курса</div>
                                <div :style="{marginTop: 40 + 'px', marginBottom: 150 + 'px', lineHeight: line_height, height: 200 + 'px'}">
                                    <div v-for="(item, key) in skill_list" :key="key" class="certificate-title">- {{item}}</div>
                                </div>
                                <div class="teachers">Куратор курса Мамизеров Н.<br>Руководитель Бизнес в стиле.RU Трофимов С.И.</div>
                            </div>
                        </div>
                    </div>
                    <button @click="downloadWithCSS">Скачать сертификат</button>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Oswald&display=swap');
    .doc-container{
        width: 90%;
        margin: 40px 50px;
        text-align: left;
    }
    .certificate-one{
        width: 700px;
        height: 980px;
        position: relative;
        border: 1px solid #cccccc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin: 30px 0;
    }
    .first-line{
        z-index: 3;
        width: 355px;
        height: 340px;
        background: url('../../../public/static/my_img/certificateOne/Vector Smart Object copy (1).png');
        background-size: cover;
    }
    .second-line{
        width: 310px;
        height: 400px;
        background: url('../../../public/static/my_img/certificateOne/Vector Smart Object.png');
        background-size: cover;
    }
    .third-line{
        position: absolute;
        width: 700px;
        height: 200px;
        top: 660px;
        left: -1px;
        background: url('../../../public/static/my_img/certificateOne/photoeditorsdk-export.png');
        background-size: cover;
    }
    .text-container{
        width: 700px;
        height: 980px;
        position: absolute;
        background: transparent;
        padding: 35px 55px;
        font-family: 'Cabin', sans-serif;
        font-weight: 700;
        line-height: 1.2;
    }
    #school-name{
        font-size: 19px;
        width: 400px;
        font-weight: 400;
        margin-bottom: 70px;
        line-height: 1;
    }
    .certificate-title{
        font-size: 26px;
        font-weight: 700;
    }
    #c-user-name{
        font-size: 45px;
        font-weight: 700;
        width: 500px;
        margin-bottom: 40px;
    }
    #c-course{
        font-size: 45px;
        font-weight: 700;
        width: 600px;
        margin-bottom: 60px;
    }
    .teachers{
        font-size: 17px;
        font-weight: 700;
        line-height: 1.6;
    }
    button{
        margin-bottom: 40px;
        width: 220px;
        height: 45px;
        box-shadow: 0 0 6px #999999;
        color: white;
        background: #00D0BD;
    }
</style>


<script>
    import API from 'Api'
    import jsPDF from 'jspdf'
    import html2canvas from "html2canvas"
    export default {
        name: "Certificate",
        data(){
            return {
                user_name: '',
                courses: '',
                skills: '',
                projects: '',
                one_course_for_certificate: '',
                skill_list: [],
                line_height: 1
            }
        },
        methods: {
            downloadWithCSS() {
                const doc = new jsPDF();
                let canvasElement = document.createElement('canvas');
                html2canvas(this.$refs.content, { canvas: canvasElement
                }).then(function (canvas) {
                    const img = canvas.toDataURL("image/jpeg", 1);
                    doc.addImage(img,'JPEG',12.5,10);
                    doc.save("sample.pdf");
                });
            },
            user_info(){
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                API
                    .post('user/main_info', data)
                    .then(response => {
                        if (response.data.error == 0){
                            this.user_name = response.data.info.surname + ' ' + response.data.info.name;
                        }
                        else{
                            console.log(response.data.error);
                        }
                    });
            },
            get_courses(){
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                API
                    .post('user/get_courses_lessons', data)
                    .then(response => {
                        if (response.data.error == 0){
                            this.one_course_for_certificate = response.data.courses[0].name;
                            response.data.courses.forEach((item, i) => {
                                this.courses  = this.courses + item.name;
                                if (i == response.data.courses.length - 1)
                                    this.courses = this.courses + '.';
                                else
                                    this.courses = this.courses + ', ';
                            })
                        }
                        else{
                            console.log(response.data.error);
                        }
                    });
            },
            getStatus(id){
                if (id == 1){
                    return "Junior";
                }else if (id == 2){
                    return "Middle";
                }else if (id == 3){
                    return "Senior";
                }
            },
            get_skills(){
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                API
                    .post('user/get_student_skills', data)
                    .then(response => {
                        console.log(this.courses);
                        if (response.data.error == 0){
                            response.data.skills.forEach((item, i) => {
                                this.skill_list.push(this.getStatus(item.level) + ' ' + item.name);
                                this.skills  = this.skills + this.getStatus(item.level) + ' ' + item.name;
                                if (i == response.data.skills.length - 1)
                                    this.skills = this.skills + '.';
                                else
                                    this.skills = this.skills + ', ';
                            });
                            if (this.skill_list.length < 6)
                                this.line_height = 1.5;
                        }
                        else{
                            console.log(response.data.error);
                        }
                    });
            },
            get_projects(){
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                API
                    .post('user/get_student_projects', data)
                    .then(response => {
                        if (response.data.error == 0){
                            response.data.projects.forEach((item, i) => {
                                this.projects  = this.projects + item.name;
                                if (i == response.data.projects.length - 1)
                                    this.projects = this.projects + '.';
                                else
                                    this.projects = this.projects + ', ';
                            })
                        }
                        else{
                            console.log(response.data.error);
                        }
                    });
            },
            Export2Doc(element, filename = ''){
                let preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                let postHtml = "</body></html>";
                let html = preHtml+document.getElementById(element).innerHTML+postHtml;

                let blob = new Blob(['\ufeff', html], {
                    type: 'application/msword'
                });

                let url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);

                filename = filename ? filename + '.doc' : 'document.doc';

                let downloadLink = document.createElement("a");

                document.body.appendChild(downloadLink);

                if(navigator.msSaveOrOpenBlob ){
                    navigator.msSaveOrOpenBlob(blob, filename);
                }else{
                    downloadLink.href = url;

                    downloadLink.download = filename;

                    downloadLink.click();
                }

                document.body.removeChild(downloadLink);
            }
        },
        mounted() {
            this.user_info();
            this.get_courses();
            this.get_skills();
            this.get_projects();
        }
    }
</script>