<template>
	<div class="new-wrapper h-100" >
        <v-container px-0  class="profile h-100">

            <v-layout row wrap align-center class="h-100">
                <v-flex xs12 sm8 md9 mx-auto>
                    <img src="/static/my_img/rulogo.png" class="img-responsive mx-auto mb-1" width="78" height="78" />
                    <h3 class="text-center mb-3">Введите измененные данные</h3>
                    <UserDataForm :img_link="img_link" :user="user"></UserDataForm>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<style lang="scss" scoped>
    input[type="file"]{
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    .profile_img_reg{
        width: 100px;
        background-size: cover;
        background-position: center;
        height: 100px;
        background-image: url(/img/add_profile.66992572.png);
    }
</style>
<script>

import API from 'Api';
import Vue from 'vue'
import Nprogress from 'nprogress';
import UserDataForm from "./EditProfileWidgets/UserDataForm";




export default {
  components:{
      UserDataForm
  },
  data: function() {
    return {
        // пользователь заполняется в первых двух окнах
        user: {},
        token: localStorage.getItem('user'),
        emailRules: [
            v => !!v || "E-mail is required",
            v =>
            /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
            "E-mail must be valid"
            ],
        passwordRules: [v => !!v || "Password is required"],
        emailRegexp: /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/,
        phoneRegexp: /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/,
        phoneRules: [v => /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/.test(v) || 'Неправильный телефон'],
        vkRules: [v => /https:\/\/vk\.com\/[aA-zZ,0-9]{2,}/.test(v) || 'Неправильная ссылка'],
    };
    },
    computed: {
        img_link(){
            return `https://api.styleru.org${this.user.img}`
        }
    },
    methods:{
        handleFileUpload(){
            const view = this;
            let image = this.$refs.file.files[0];
            const data_img = new FormData();
            if (image){
                Nprogress.start();
                data_img.append('img', image);
                API
                .post('user/send_img', data_img, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function(response){
                    if (response.data.error == 0){
                        $('.profile_img').attr('src', 'https://api.styleru.org'+response.data.link);
                        view.user.img = `${response.data.link}`
                        Nprogress.done();
                    }else{
                        Vue.notify({
                            group:'loggedIn',
                            type: 'error',
                            text: 'Загрузите другую картинку'
                        });
                        Nprogress.done();
                    }
                    

                })
                .catch(function(response){
                    console.log(response);
                });
            }
        },
        submit_info(){
            const data = new FormData();
            const view = this;
            data.append('token', this.token);
            data.append('mail', this.user.mail);
            data.append('name', this.user.name);
            data.append('surname', this.user.surname);
            data.append('university', this.user.university);
            data.append('faculcy', this.user.faculcy);
            data.append('img', this.user.img);
            data.append("vk_link", this.user.vk_link);
            data.append('phone', this.user.phone);
            data.append('year_study', this.user.year_study);
            API
            .post('user/edit_profile', data)
            .then(function(response){
                if (response.data.error === 0){
                    view.$root.$emit('profile_edited');
                    Vue.notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Данные изменены!'
                    });
                    view.$router.push('/');
                } else if (response.data.error == 4){
				    view.$store.dispatch("logout");

			    }
            })
            .catch(function(response){
                console.log(response);
            })

        },
        loadUser(){
            const data = new FormData();
			const view = this;
			data.append('token', this.token)
			API
			.post('user/main_info', data)
			.then(function(response){
				if (response.data.error == 0){
					view.user = response.data.info
				} else if (response.data.error == 4){
				    view.$store.dispatch("logout");

			    }
			});
      },
    },
    mounted() {
        this.$root.$on('submit_data', (data) => {
            this.user.name = data.name;
            this.user.surname = data.surname;
            this.user.university = data.university;
            this.user.faculcy = data.faculcy;
            this.user.img = data.img;
            this.user.vk_link = data.vk_link;
            this.user.phone = data.phone;
            this.user.year_study = data.year_study;
            this.submit_info();
        });
        this.$root.$on('upload', () => {
            this.handleFileUpload();
        })
    },
    beforeMount(){
        this.loadUser();
    }
};
</script>
<style lang="scss" scoped>
.header
{
  width: 100%;
  display: table;
}
.profile_img
{
  width:100px;
  border: 3px black solid;
  cursor: pointer;
}
.header
{
  margin-bottom: 15px;
}
.background-white
{
  background-color: white;
}
.app-card-title h3
{
  text-transform: none !important;
}

</style>
