<template>
  <div class="new-wrapper h-100" >
    <v-container px-0 class="h-100" v-if="!ok_clicked">
        <FirstLayout :text="text[0]"></FirstLayout>
    </v-container>
    <v-container px-0 v-if="ok_clicked" class="profile ">
      
      <div class="header pa-2"><img src="/static/my_img/rulogo.png" class="img-responsive  mx-auto" width="40" height="40" style="display:block;" /></div>
      <div class="app-card">
        <div class="app-card-title"><h3>Расскажите нам о себе</h3></div>
        <div class="app-card-content">
          <About></About>
        </div>
      </div>
    </v-container>
  </div>
  
</template>
<script>
  import FirstLayout from "./RegisterWidgets/FirstLayout";
  import About from "./NewWidgets/About"


export default {
  components:{
    FirstLayout,
    About
  },
  data: function() {
    return {
      text: ['Бизнес в стиле .RU - это команда единомышленников. И мы надеемся увидеть в своих рядах таких же итд итп. нужен подобный текст с правилами'],
      ok_clicked:false
    };
  },
  methods: {
    
  },
  mounted() {
    this.$root.$on('login', () => {
      this.ok_clicked = true;
    })
  }
};
</script>
<style lang="scss" scoped>
.header
{
  width: 100%;
  display: table;
}
.profile_img
{
  width:100px;
  border: 3px black solid;
}
.header
{
  margin-bottom: 15px;
}
.background-white
{
  background-color: white;
}
.app-card-title h3
{
  text-transform: none !important;
}

</style>
