<template>
	<div>
		<v-container fluid grid-list-xl pt-0 mt-3>
			<v-layout row wrap>
				<v-flex xs12 md12 lg12 sm12 class="col-height-auto">
					<div>
						
						<div class="profile-body">
							<v-layout row wrap>
								<v-flex xs12 md5 lg4 class="col-height-auto">
									<app-card
										customClasses="mb-30"
									>
										<UserInfo></UserInfo>
									</app-card>
									<app-card
										heading="Специализации"
										customClasses="mb-30"
										v-if="this.$store.getters.getRole == 1"
										:fullBlock="true"
									>
										<education></education>
									</app-card>
									<app-card
										v-if="this.$store.getters.getRole == 2"
										heading="Проекты"
										customClasses="mb-30"
										
										:fullBlock="true"
									>
										<ProjectsList></ProjectsList>
									</app-card>
									
									<app-card
										v-if="this.$store.getters.getRole == 2"
										heading="Навыки"
										customClasses="mb-30"
										:fullBlock="true"
									>
										<SkillsList></SkillsList>
									</app-card>
								</v-flex>
								<v-flex xs12 md7 lg8 v-if="this.$store.getters.getRole == 1">
									
									<user-activity ></user-activity>
								</v-flex>
								<v-flex xs12 md7 lg8 v-if="this.$store.getters.getRole == 2">
									
									<Activity></Activity>
								</v-flex>
							</v-layout>
						</div>
					</div>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>


import Education from "Components/Widgets/Education";
import UserInfo from "Components/Widgets/UserInfo";
import UserActivity from "Components/Widgets/UserActivity";
import Activity from "./Activity.vue";
import Hw from "Components/Widgets/HW";
import ProjectsList from "Components/Widgets/ProjectsList";
import Materials from "Components/Widgets/Materials";
import SkillsList from "Components/Widgets/SkillsList";
import EducationVue from '../../components/Widgets/Education.vue';

export default {
  components: {
  	ProjectsList,
    Education,
    UserInfo,
	UserActivity,
	Hw,
	Activity,
	Materials,
	SkillsList
  },
  data() {
		return {
			hw_choose: 0,
		}
	},
	methods: {
		hw_change: function (value) {
			console.log(3)
			this.hw_choose= value
		}
	}
};


</script>
