<template>	
  	<v-container fluid grid-list-xl py-0>
		  <v-dialog
        v-model="asker_dialog"
        max-width="290">
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    @click="asker_dialog = false">
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="deleteAsk"                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
		<v-layout row wrap>
			<app-card
				heading="Проекты"
				:fullBlock="true"
				customClasses=" mt-3"
				colClasses="xl12 lg12 md12 sm12 xs12">

                <ActiveTab></ActiveTab>

                <vue-good-table
                class="styled"
                styleClass="table"
                :columns="columns"
                :rows="rows"
				:line-numbers="true"
				v-if="tab==1"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 5,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'action'">
                            <span style="cursor:pointer; color: #5d92f4;" @click="send(props.row.id_spec); sendObj.name = props.row.name">
                                {{`Подать заявку`}}
                            </span>
                        </span>
						<span v-else-if="props.column.field == 'mentor_name'">
                            {{getMentors(props.row.mentors)}}
                        </span>
                        <span v-else v-html="props.formattedRow[props.column.field]">
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template>

                </vue-good-table>
				<vue-good-table
                class="styled"
                styleClass="table"
                :columns="columns_asks"
				:line-numbers="true"
                :rows="asks"
				v-if="tab==2"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 5,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'action'">
							<span class="icon-style" style="cursor:pointer" @click="edit(props.row.originalIndex)">
                                <i class="zmdi" :class="'zmdi-edit'"></i>
                            </span>
                            <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                                <i class="zmdi zmdi-delete"  ></i>
                            </span>
                        </span>
						<span v-else-if="props.column.field == 'mentor_name'">
                            {{getMentors(props.row.mentors)}}
                        </span>
                        <span v-else v-html="props.formattedRow[props.column.field]">
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template>

                </vue-good-table>
				<vue-good-table
                class="styled"
                styleClass="table"
                :columns="columns_projects"
				:line-numbers="true"
                :rows="projects"
				v-if="tab==3"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 5,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'mentor_name'">
							{{props.row.mentor.map(e => e.mentor_name).join(", ")}}
                        </span>

                        <span v-else v-html="props.formattedRow[props.column.field]">
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template>

                </vue-good-table>
				<vue-good-table
                class="styled"
                styleClass="table"
                :columns="columns_ends"
				:line-numbers="true"
                :rows="end_projects"
				v-if="tab==4"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 5,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'action'">
							<span class="icon-style" style="cursor:pointer">
                                <i class="zmdi" :class="'zmdi-eye'"></i>
                            </span>
                        </span>
                        <span v-else v-html="props.formattedRow[props.column.field]">
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template>

                </vue-good-table>
			</app-card>
			<app-card
				:heading="sendObj.name"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="sender && tab == 1">
                <AskWidget :model="sendObj.ask"></AskWidget>
<!--                <v-container grid-list-xl fluid pt-0>-->
<!--                    <v-layout row wrap>-->
<!--                        <v-flex xs12 sm12>-->
<!--                            <span class="d-block">Напишите о себе</span>-->
<!--                            <wysiwyg v-model="sendObj.ask" />-->
<!--                        </v-flex>-->

<!--                        <v-btn color="primary mt-3" @click='sendAsk'>Отправить</v-btn>-->
<!--						<v-btn color="warning mt-3" @click='decline'>Отменить</v-btn>-->
<!--                    </v-layout>-->
<!--                </v-container>-->
			</app-card>
			<app-card
				:heading="askObj.name"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="asker && tab == 2">
                <AskWidget :model="askObj.ask"></AskWidget>
<!--                <v-container grid-list-xl fluid pt-0>-->
<!--                    <v-layout row wrap>-->
<!--                        <v-flex xs12 sm12>-->
<!--                            <span class="d-block">Напишите о себе</span>-->
<!--                            <wysiwyg v-model="askObj.ask" />-->
<!--                        </v-flex>-->

<!--                        <v-btn color="primary mt-3" @click='editAsk'>Отправить</v-btn>-->
<!--						<v-btn color="warning mt-3" @click='decline_ask'>Отменить</v-btn>-->

<!--                    </v-layout>-->
<!--                </v-container>-->
			</app-card>
		</v-layout>
  	</v-container>
</template>
<style>

</style>

<script>
import api from "Api";
import { VueGoodTable } from 'vue-good-table';
import 'vue-good-table/dist/vue-good-table.css';
import ActiveTab from "./ProjectWidgets/ActiveTab";
import AskWidget from "./ProjectWidgets/AskWidget";


export default {
    data() {
        return {
			loader: true,
			asker_dialog: false,
			curr_ask_id: -1,
			tab: 1,
			sendObj: {
				ask: '',
				spec_id: -1,
				name: '',
			},
			askObj: {
				ask: '',
				id: -1,
				name: '',
			},
			asks: [],
			projects: [],
			end_projects: [],
			asker: true,
			sender: true,
			columns_ends: [
				{
                    label: 'Имя',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
				{
                    label: 'Роль',
                    field: 'role',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
				{
                    label: 'Фидбек',
                    field: 'feedback',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
                
			],
			columns_projects: [
				{
                    label: 'Имя',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
				{
                    label: 'Описание',
                    field: 'description',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
				{
                    label: 'Роль',
                    field: 'role',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Ментор',
                    field: 'mentor_name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
                
			],
			columns_asks: [
				
                {
                    label: 'Проект',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
				{
                    label: 'Заявка',
                    field: 'ask',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
			],
            columns: [
                
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
				{
                    label: 'Описание',
                    field: 'description',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
				},
				{
                    label: 'Требования',
                    field: 'need_description',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Ментор',
                    field: 'mentor_name',
                    type: 'text',
                    
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            rows: []
        };
    },

    mounted() {
		this.get_projects();
		this.get_asks();
		this.get_all_projects();
		this.$root.$on('tab1', () => {
		    this.tab = 1;
        });
		this.$root.$on('tab2', () => {
		    this.tab = 2;
        });
		this.$root.$on('tab3', () => {
		    this.tab = 3;
        });
		this.$root.$on('tab4', () => {
		    this.tab = 4;
        });
		this.$root.$on('send_ask', (text) => {
		    if (this.tab == 1){
		        this.sendObj.ask = text;
		        this.sendAsk();
            }
            if (this.tab == 2){
                this.askObj.ask = text;
                this.editAsk();
            }
        });
		this.$root.$on('cancel', () => {
            if (this.tab == 1){
                this.decline();
            }
            if (this.tab == 2){
                this.decline_ask();
            }
        })

    },
    methods: {
		send(id){
			this.sender = true;
			this.sendObj.spec_id = id;
		},
		edit(id){
			this.askObj.ask = this.asks[id].ask;
			this.askObj.name = this.asks[id].name;
			this.askObj.id = this.asks[id].id;
			this.asker = true;
		},
		del(id){
			this.curr_ask_id = id;
			this.asker_dialog = true;
		},
		decline(){
			this.sendObj.ask = '';
			this.sender = false;
			this.sendObj.spec_id = '';
			this.sendObj.name = '';
		},
		decline_ask(){
			this.askObj.ask = '';
			this.askObj.name = '';
			this.askObj.id = -1;
			this.asker = false;
		},
		deleteAsk(){
			const data = new FormData();
			data.append("token", this.$store.getters.getUser);
			data.append("id_ask", this.curr_ask_id);
			api
			.post('/user/delete_ask_project', data)
			.then(response => {
				this.get_asks();
				this.get_projects();
				this.asker_dialog = false;
				this.$notify({
					group: 'loggedIn',
					type: 'success',
					text: 'Успешно удалено!'
				});
			})
			.catch(error =>{
				console.log(error);
			});
		},
		editAsk(){
			const data = new FormData();
			data.append("token", this.$store.getters.getUser);
			data.append("id_ask", this.askObj.id);
			data.append('ask', this.askObj.ask);
			api
			.post('/user/edit_ask_project', data)
			.then(response => {
				this.get_asks();
				this.decline_ask();
				this.$notify({
					group: 'loggedIn',
					type: 'success',
					text: 'Успешно изменено!'
				});
			})
			.catch(error =>{
				console.log(error);
			});
		},
		sendAsk(){
			const data = new FormData();
			data.append("token", this.$store.getters.getUser);
			data.append("id_spec", this.sendObj.spec_id);
			data.append('ask', this.sendObj.ask);
			console.log(this.sendObj.ask);
			api
			.post('/user/send_ask_project', data)
			.then(response => {
				this.get_projects();
				this.get_asks();
				this.decline();
				this.$notify({
					group: 'loggedIn',
					type: 'success',
					text: 'Успешно отправлено!'
				});
			})
			.catch(error =>{
				console.log(error);
			});
		},
		getMentors(mentors){
			if (mentors.length == 0){
				return "Нет менторов";
			}else if (mentors.length == 1){
				return `${mentors[0].name} ${mentors[0].surname}`
			}
			let result = '';
			mentors.forEach(mentor => {
				result += `${mentor.name} ${mentor.surname}, `
			});
			return result;
		},
		get_all_projects(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			api
			.post("/user/get_all_projects", data)
			.then(response => {
				if (response.data.error == 0){
					this.projects = response.data.projects.current;
					this.end_projects = response.data.projects.end;
					console.log('дост и зав')
					console.log(this.projects);
					console.log(this.end_projects);
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");
			    }
			})
			.catch(error => {
				console.log(error);
			})
		},
		get_asks(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			api
			.post("/user/get_projects_asks", data)
			.then(response => {
				if (response.data.error == 0){
					this.asks = response.data.asks;
					console.log(this.asks);
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");
			    }
			})
			.catch(error => {
				console.log(error);
			})
		},
		get_projects(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			api
			.post('/user/get_availibale_projecs', data)
			.then(response => {
				if (response.data.error == 0){
					this.rows = response.data.projects;
                    console.log('ваши')
					console.log(this.rows);
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");
			    }
			})
			.catch(error =>{
				console.log(error);
			});
		},
    },
    components: {
        VueGoodTable,
        ActiveTab,
        AskWidget
    }
};
</script>
