<template>
    <div style="width: 100%; padding: 20px 0 50px 0">
        <ProjectsCard :projects="rows" name="Доступные проекты" @print_val="print_val" @print_search="print_search"></ProjectsCard>
        <ProjectsCard :projects="your_projects" name="Ваши текущие проекты"></ProjectsCard>
        <ProjectsCard :projects="end_projects" name="Завершенные проекты"></ProjectsCard>
    </div>
</template>

<script>
    import api from "Api";
    import ProjectsCard from "./ProjectsWidgets/ProjectsCard";
    export default {
        name: "Projects1",
        data(){
            return {
                all: {},
                your: {},
                end: {},
                rows: {},
                your_projects: {},
                end_projects: {},
                val: '66',
                courses: 11
            }
        },
        components: {
            ProjectsCard
        },
        mounted() {
            this.get_projects();
            this.get_all_projects();
            this.get_user_info();
        },
        methods: {
            get_user_info(){

            },
            print_val(val){
                if (val != 'Все'){
                    this.rows = this.all.filter(item => item.spec_name == val);
                    this.your_projects = this.your.filter(item => item.spec_name == val);
                    this.end_projects = this.end.filter(item => item.spec_name == val);
                }
                else {
                    this.rows = this.all;
                    this.your_projects = this.your;
                    this.end_projects = this.end;
                }
            },
            print_search(val){
                if (val != ''){
                    this.rows = this.all.filter(item => item.name.toLowerCase().indexOf(val.toLowerCase()) > -1);
                    this.your_projects = this.your.filter(item => item.name.toLowerCase().indexOf(val.toLowerCase()) > -1);
                    this.end_projects = this.end.filter(item => item.name.toLowerCase().indexOf(val.toLowerCase()) > -1);
                }
                else {
                    this.rows = this.all;
                    this.your_projects = this.your;
                    this.end_projects = this.end;
                }
            },
            get_projects(){
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                api
                    .post('/user/get_availibale_projecs', data)
                    .then(response => {
                        if (response.data.error == 0){
                            this.rows = response.data.projects;
                            this.all = this.rows;
                            console.log(this.courses);
                        } else if (response.data.error == 4){
                            this.$store.dispatch("logout");
                        }
                    })
                    .catch(error =>{
                        console.log(error);
                    });
            },
            get_all_projects(){
                const data = new FormData();
                data.append('token', this.$store.getters.getUser);
                api
                    .post("/user/get_all_projects", data)
                    .then(response => {
                        if (response.data.error == 0){
                            this.your_projects = response.data.projects.current;
                            this.your = this.your_projects;
                            this.end_projects = response.data.projects.end;
                            this.end = this.end_projects;
                        } else if (response.data.error == 4){
                            this.$store.dispatch("logout");
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
        }
    }
</script>

<style scoped>

</style>