<template>
  <div class="new-wrapper h-100" >
    <v-container px-0 class="h-100" v-if="!ok_clicked_start">
        <FirstLayout :text="text[0]"></FirstLayout>
<!--      <v-layout row wrap align-center class="h-100">-->
<!--        <v-flex xs12 sm8 md6 mx-auto>-->

<!--          <img src="/static/my_img/rulogo.png" class="img-responsive mx-auto mb-1" width="78" height="78" />-->

<!--          <h3 class="text-center mb-3">Добро пожаловать в Бизнес в стиле .RU</h3>-->
<!--          &lt;!&ndash; <p class="text-center">Бизнес в стиле .RU - это команда единомышленников. И мы надеемся увидеть в своих рядах людей с горящими глазами, готовых учиться, узнавать новое, делать крутые проекты и помогать друг другу! </p> &ndash;&gt;-->
<!--          <p class="text-center">К сожалению, регистрация на текущую школу подошла к концу. Ждем вас на следующей школе! Всего наилучшего, команда .RU!</p>-->
<!--          &lt;!&ndash; <v-btn raised color="primary" class="mb-0" @click="ok_clicked_start = true">ОК, я понял</v-btn> &ndash;&gt;-->
<!--            <v-btn raised color="primary" class="mb-0" @click="goToLogin">ОК, я понял</v-btn>-->

<!--        </v-flex>-->
<!--      </v-layout>-->
    </v-container>




    <v-container px-0  v-if="ok_clicked_start && !ok_clicked_email" class="profile h-100">
      <v-layout row wrap align-center class="h-100">
        <v-flex xs12 sm8 md6 mx-auto>
        <img src="/static/my_img/rulogo.png" class="img-responsive mx-auto mb-1" width="78" height="78" />
        <h3 class="text-center mb-3">Введите основные данные</h3>
            <PasswordWidget :mail="user.email" :pass="first_pass" :pass_again="check_pass"></PasswordWidget>
<!--        <v-layout row wrap align-center class="h-100 " >-->
<!--            <v-flex xs12 sm8 md12 pa-2>-->
<!--                <v-text-field -->
<!--                label="Почта"-->
<!--                type="email"-->
<!--                name="email"-->
<!--                counter-->
<!--                v-model="user.email">-->
<!--                </v-text-field>-->
<!--            </v-flex>-->
<!--            <v-flex xs12 sm8 md12 pa-2>-->
<!--                <v-text-field -->
<!--                label="Password" -->
<!--                type="password" -->
<!--                name="password"-->
<!--                v-model="first_pass">-->
<!--                </v-text-field>-->
<!--            </v-flex>-->
<!--        -->
<!--            <v-flex xs12 sm8 md12 pa-2>-->
<!--                <v-text-field -->
<!--                label="Password" -->
<!--                type="password"-->
<!--                name="password_repeat"-->
<!--                v-model="check_pass">-->
<!--                </v-text-field>-->
<!--            </v-flex>-->
<!--            <v-flex xs12 sm5 md1 class="flex-end">-->
<!--                <v-btn large color="primary" @click="submit_email">Далее</v-btn>-->
<!--            </v-flex>-->
<!--        </v-layout>-->
        </v-flex>
      </v-layout>
    </v-container>




    <v-container px-0  v-if="ok_clicked_email && !ok_clicked_info" class="profile h-100">
    <v-layout row wrap align-center class="h-100">
        <v-flex xs12 sm8 md9 mx-auto>
            <img src="/static/my_img/rulogo.png" class="img-responsive mx-auto mb-1" width="78" height="78" />
            <h3 class="text-center mb-1">Расскажите нам о себе</h3>
            <h6 class="text-center mb-3">Все поля обязательны к заполнению</h6>
            <UserDataForm :img_link="img_link" :user="user"></UserDataForm>
        </v-flex>
    </v-layout>
    </v-container>




<!--    <v-container px-0  v-if="ok_clicked_info && !ok_clicked_courses" class="profile h-100">-->
<!--    <v-layout row wrap align-center class="h-100">-->
<!--        <v-flex xs12 sm8 md9 mx-auto>-->
<!--            <img src="/static/my_img/rulogo.png" class="img-responsive mx-auto mb-1" width="78" height="78" />-->
<!--            <h3 class="text-center mb-3">Составьте свое расписание</h3>-->
<!--            <LessonsWidget :courses_list_choose="courses_list_choose" :specs="specs" :lesson_list_place="lesson_list_place"></LessonsWidget>-->
<!--            <v-layout row wrap align-center class="h-100 " >-->
<!--                <h4  class="text-center mb-3">Выберите курсы</h4>-->
<!--                <v-flex xs12 sm4 md12 px-2>-->
<!--                  <v-select-->
<!--                    v-model="courses_list_choose"-->
<!--                    :items="specs"-->
<!--                    item-text="name"-->
<!--                    attach-->
<!--                    chips-->
<!--                    label="Курсы"-->
<!--                    multiple-->
<!--                    ></v-select>-->
<!--                </v-flex>-->
<!--                <h4 v-if="courses_list_choose.length > 0"  class="text-center mb-3">Выберите время для выбранных курсов</h4>-->
<!--                <v-flex xs12 sm4 md12 px-2 v-for="(course, key) in courses_list_choose" v-bind:key="course">-->
<!--                  <v-select-->
<!--                    :items="potok_spec_list(course)"-->
<!--                    item-text="place"-->
<!--                    item-value="id"-->
<!--                    v-model="lesson_list_place[key]"-->
<!--                    :label="course"-->
<!--                    ></v-select>-->
<!--                    <table v-if="(lesson_list_place[key])">-->
<!--						<thead>-->
<!--							<tr>-->
<!--							<th class="text-left">Здание</th>-->
<!--							<th class="text-left">Дата занятия</th>-->
<!--							</tr>-->
<!--						</thead>-->
<!--						<tbody>-->
<!--							<tr v-for="lesson in lessons_comp(lesson_list_place[key])" :key="lesson.id">-->
<!--							<td class="pr-3">{{ lesson.place }}</td>-->
<!--							<td>{{ lesson.start_date }}</td>-->
<!--							</tr>-->
<!--						</tbody>-->
<!--					</table>-->
<!--                </v-flex>-->
<!--                <v-flex xs12 sm4 md6 class="text-right">-->
<!--                    <v-btn large color="primary" @click="ok_clicked_info = false">Назад</v-btn>-->
<!--                </v-flex>-->
<!--                <v-flex xs12 sm4 md6 class="mx-auto text-right">-->
<!--                    <v-btn large color="primary" @click="submit_courses">Зарегистрироваться на школу</v-btn>-->
<!--                </v-flex>-->
<!--            </v-layout>-->
<!--        </v-flex>-->
<!--    </v-layout>-->
<!--    </v-container>-->



    <!-- <v-container px-0  v-if="ok_clicked_courses" class="profile h-100">
    <v-layout row wrap align-center class="h-100">
        <v-flex xs12 sm8 md6 mx-auto>

          <img src="/static/my_img/rulogo.png" class="img-responsive mx-auto mb-1" width="78" height="78" />
          
          <h3 class="text-center mb-3">Проверьте почту</h3>
          <p class="text-center">Проверьте вашу почту {{user.email}} и перейдите по ссылке в письме чтобы активировать аккаунт</p>
          <v-btn raised color="primary" class="mb-0" @click="$router.push('/session/login')">понятно</v-btn>
          
        </v-flex>
      </v-layout>
    </v-container> -->
  </div>
  
</template>


<script>
import Vue from 'vue'
import API from "Api/index"
import Nprogress from 'nprogress';
import FirstLayout from "./RegisterWidgets/FirstLayout";
import UserDataForm from "./EditProfileWidgets/UserDataForm";
import LessonsWidget from "./RegisterWidgets/LessonsWidget";
import PasswordWidget from "./RegisterWidgets/PasswordWidget";


export default {
    components:{
        LessonsWidget,
        UserDataForm,
        FirstLayout,
        PasswordWidget
    },
  data: function() {
    return {
        text: ['К сожалению, регистрация на текущую школу подошла к концу. Ждем вас на следующей школе! Всего наилучшего, команда .RU!'],
        // пользователь заполняется в первых двух окнах
        user: {
            email: '',
            password: '',
            name: '',
            surname: '',
            university: '',
            vk_link: '',
            phone: '',
            degree: 'junior',
            img: '',
            faculcy: '',
        },
        // массив всех potok_spec
        specs: ['web', 'ios'],
        // имена специальностей
        specs_names: [],
        lessons: [],
        // выбранные курсы
        courses_list_choose: [],
        lesson_list_place: [],
        //   проверка на одинаковость паролей
        first_pass: undefined,
        check_pass: undefined,
        //   переключение между экранами заполнения
        ok_clicked_start: true,
        ok_clicked_email: false,
        ok_clicked_info: false,
        ok_clicked_courses: false,
        
        // правила для почты, телефона и пароля
        emailRules: [
            v => !!v || "Обязательное поле",
            v =>
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) ||
            "Неправильный email"
            ],
        passwordRules: [v => !!v || "Обязательное поле"],
        vkRegexp: /https:\/\/vk\.com\/[aA-zZ,0-9]{2,}/,
        emailRegexp: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
        phoneRegexp: /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/,
        phoneMask: '+7 (###) ### ## ##',
        phoneRules: [v => /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/.test(v) || 'Неправильный телефон'],
        vkRules: [v => /https:\/\/vk\.com\//.test(v) || 'Неправильная ссылка'],
        
    };
    },
    computed: {
        img_link(){
            return `https://api.styleru.org${this.user.img}`
        },
        spec_list(){
			return this.specs.filter(spec => {
				if (!this.specs_names.includes(spec.name) ){
					this.specs_names.push(spec.name);
					return true
				}else{
					return false;
				}
			});
        }
    },
    // mounted(){
    //     this.$router.push('session/login');
    // },
    methods: {
        // выбор зданий для специальности
        potok_spec_list(name_spec){
            return this.specs.filter(spec => spec.name === name_spec);
        },
		lessons_comp(choosen_potok_spec_id){
			return this.lessons.filter(lesson => lesson.id_potok_spec === choosen_potok_spec_id);
		},
        loadLessons() {
		   	const data = new FormData();
         	const view = this;
			data.append('id_spec', this.curr_spec_id)
			API
			.post('user/get_all_lessons', data)
			.then(function(response){
            if (response.data.error == 0){
               	view.lessons = response.data.info;
            };
         });
	   	},
        goToLogin(){
            this.$router.push('session/login');
        },
        submit_email() {
        // проверка на то, что пароли введены одинаковы и все поля заполнены
        if (this.first_pass && this.first_pass === this.check_pass){
            if (this.emailRegexp.test(this.user.email)){
                const view = this;
                const data = new FormData()
                data.append("mail", this.user.email)
                API.post('user/check_email', data)
                .then(function (response) {
                    if (response.data.error == 0){
                        view.user.password = view.first_pass
                        view.ok_clicked_email = true;
                    }else{
                        Vue.notify({
                            group: 'loggedIn',
                            type: 'error',
                            text: 'Такой email уже есть'
                        });
                    }
                })
                .catch(function (error) {

                });
            }else{
                Vue.notify({
                group: 'loggedIn',
                type: 'error',
                text: 'Неправильный email'
            });
            }
        }else{
            Vue.notify({
                group: 'loggedIn',
                type: 'error',
                text: 'Введите одинаковые пароли!'
            });
        }
    },
    // создание файла
    handleFileUpload(){
        const view = this;
        const data_img = new FormData();
        if (this.$refs.file.files[0]){
            this.user.img = this.$refs.file.files[0];
            Nprogress.start();
            data_img.append('img', this.user.img);
            API
            .post('user/send_img', data_img, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                }
            })
            .then(function(response){
                if (response.data.error == 0){
                    $('.profile_img').attr('src', 'https://api.styleru.org'+response.data.link);
                    view.user.img = `${response.data.link}`
                    Nprogress.done();
                }else{
                    Vue.notify({
                        group:'loggedIn',
                        type: 'error',
                        text: 'Загрузите другую картинку'
                    });
                    Nprogress.done();
                }
                
            })
            .catch(function(response){
                console.log(response);
            });
        }
    },
    submit_courses() {
        const view = this;
        const data = new FormData();
        Nprogress.start();
        data.append('mail', this.user.email);
        data.append('pass', this.user.password);
        data.append('name', this.user.name);
        data.append('surname', this.user.surname);
        data.append('role', 2);
        data.append('id_spec', 0);
        data.append('university', this.user.university);
        data.append('start_year', new Date().getFullYear());
        data.append('faculcy', this.user.faculcy);
        data.append('img', this.user.img ? this.user.img : '');
        data.append('id_potok', '0');
        data.append("vk_link", this.user.vk_link);
        data.append('phone', this.user.phone);
        data.append('year_study', this.user.degree);
        API
        .post('user/register', data)
        .then(function(response){            
            // view.lesson_list_place.forEach(potok_spec_id => {
            //     const data_lesson = new FormData();
            //     data_lesson.append('id_potok_spec', potok_spec_id)
            //     data_lesson.append("id_user", response.data.id);
            //     API
            //     .post('user/sign_spec', data_lesson)
            //     .then(function(response_lesson){
            //
            //     }).catch(function(error){
            //
            //     });
            // });
            Nprogress.done();
            const user = {
                email: response.data.mail,
                password: response.data.pass
            };
            view.$store.dispatch("signinUser", user);
            view.$router.push('/session/login');
            view.ok_clicked_courses = true;
            
        })
        .catch(function(error){
            console.log(error);
        });
        // тут надо собирать все в одно место и отправлять на сервер
    },
    checkUserData(){
        let flag = false;
        for (let i in this.user){
            if (!this.user[i]){
                flag = true;
                console.log(i);
                if (i == 'img'){
                    $(".profile_img").css("border", "solid 3px red");
                }
                $(`.${i}`).addClass('error--text v-input--is-focused');
            }
        }
        return flag;
    },
    submit_info() {
        if (this.user.name.trim() 
        && this.user.surname.trim()
        && this.user.vk_link.trim()
        && this.phoneRegexp.test(this.user.phone)
        && this.user.university.trim() 
        && this.user.degree.trim()
        && this.user.img.trim()
        && this.user.faculcy.trim()){
            this.ok_clicked_info = true;
            const view = this;
            view.loadLessons();
            API.post('user/get_potok_specs')
            .then(function(response){
                if (response.data.error == 0){
                    
                    view.specs = response.data.potoks;
                }  
            })
            .catch(function(error){
                console.log(error);
            });
        }else{
            if (this.checkUserData()){
                Vue.notify({
                    group:'loggedIn',
                    type: 'error',
                    text: 'Проверьте правильность данных'
                });
            }
            else{
                this.submit_courses();
            }
        }
    },
  },
  mounted() {
    this.$root.$on('login', () => {
        this.goToLogin()
    });
      this.$root.$on('submit_data', (data) => {
          this.user.name = data.name;
          this.user.surname = data.surname;
          this.user.university = data.university;
          this.user.faculcy = data.faculcy;
          this.user.vk_link = data.vk_link;
          this.user.phone = data.phone;
          this.user.degree = data.degree;
          this.user.year_study = data.year_study;
          this.submit_info();
      });
      this.$root.$on('upload', () => {
          this.user.img = data.img;
          this.handleFileUpload();
      });
      this.$root.$on('sbmt_email', (mail, pass, pass_again) => {
          this.user.email = mail;
          this.first_pass = pass;
          this.check_pass = pass_again;
          this.submit_email();
      });
      this.$root.$on('clicked_info', () => {
          this.ok_clicked_info = false;
      });
      this.$root.$on('sbmt_courses', (lessons_place, chosen_courses) => {
          this.lesson_list_place = lessons_place;
          this.courses_list_choose = chosen_courses;
          this.submit_courses();
      })
  }
};
</script>

<style lang="scss" scoped>

.header
{
  width: 100%;
  display: table;
}
.profile_img
{
  width:100px;
  border: 3px black solid;
  transition: 0.15s;
  cursor: pointer;
}
.header
{
  margin-bottom: 15px;
}
.background-white
{
  background-color: white;
}
.app-card-title h3
{
  text-transform: none !important;
}
input[type="file"]{
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    .profile_img_reg{
        width: 100px;
        background-size: cover;
        background-position: center;
        height: 100px;
        background-image: url(../../../public/static/my_img/add_profile.png);
    }
</style>
